-
    let allItemsActivity = [
            {
                img:"img/pages/saturday/sat-others.png",
                alt:"",
                header:"\"Цікава Субота\" не обмежується лише тематичними вечірками.",
                items:[
                    "Діти мають можливість грати у різноманітні ігри, проходити цікаві квести, виготовляти поробки та малювати.",
                    "Крім того, вони можуть танцювати під улюблені хіти на дискотеці з світло музикою та готувати кулінарні шедеври.",
                    "О 12:00 всі учасники отримують смачний перекус, що додає ще більше задоволення до захоплюючого дня. ",
                    "Діти також гуляють на свіжому повітрі на нашому власному красивому та затишному майданчику, що додає енергії та свіжості у святковий день."
                    ]
            }
        ];




.main__sat-activity.milk-background 
    h2.global__huge_text.main__sat-activity_header-main Яскраві активності та смачні перекуси 
    +printQuadro(allItemsActivity[0], "sat-activity")

.main__sat-info   
    .positive.main__sat-info_container.flex
        .main__sat-info_box.positive_box.milk-background  
            h3.main__sat-info_header.global__middle_text Чому варто приєднатися?
            .main__sat-info_text "Цікава Субота" – це ідеальний спосіб для дітей провести вихідні цікаво і корисно. Нестандартні теми кожної суботи, захоплюючі ігри та творчі заняття допоможуть вашим дітям розвивати свою уяву та соціальні навички, водночас насолоджуючись спілкуванням з однолітками.
                a.global__btn.main__sat-info_btn Записати дитину    
        img.main__sat-info_image.positive_image.left-img(src="img/pages/saturday/sat-huge.png", alt="course_Ukraine")

.main__sat-galery 
    +printPhotoAlbum