@mixin media($size)
    @media screen and (min-width:#{$size}px)
        @content
        
* 
    margin: 0 

html
    font-size: 1px

html,body
    scroll-behavior: smooth

body
    font-family: 'Open Sans'
    font-style: normal
    font-weight: 500

a
    text-decoration: none
    &:hover
        cursor: url("../img/icons/cursor.cur") , pointer

ul
    list-style: none
    padding: 0

.flex
    display: flex
    flex-direction: column
    flex-wrap: wrap
    +media(678)
        flex-direction: row

.milk-background
    // background-image: url("../img/background.png")
    background-image: url("../img/pattern.svg")
    background-size: 400px
    background-color: #fdf5e2
    background-repeat: repeat
    box-shadow: 0px 5px 7px rgba(42, 42, 42, 0.1)


         

.global
    &__btn        
        display: block
        width: 205px
        padding: 13.5px
        height: min-content
        box-sizing: border-box
        font-family: 'Balsamiq Sans'
        font-weight: 700
        font-size: 14px
        text-align: center
        letter-spacing: 0.03em
        text-transform: uppercase
        color: #0033FF  
        background: #FDF5E2
        border: 3px solid #FF0099
        border-radius: 100px
        transition: all 0.5s ease

        &:hover
            background-color: #FF0099
            color: #FDF5E2
            

    &__link        
        position: relative
        font-family: 'Balsamiq Sans'
        font-style: normal
        font-weight: 700
        font-size: 16px
        width: max-content
        transition: all 0.5s ease
        color: #FF8B00
        &::before
            content: ""
            position: absolute
            width: 10px
            right: -20px
            top: 11px
            border: 1px solid #03CEA4
        &::after            
            content: ""
            position: absolute
            transform: rotate(45deg)
            width: 4px
            height: 4px
            right: -20px
            top: 9px
            border: 2px solid #03CEA4
            border-left: none
            border-bottom: none
        &:hover
            color: #0033FF
            
        
    &__huge_text
        font-family: 'Balsamiq Sans'
        font-style: normal
        font-weight: 700
        padding: 10px
        box-sizing: border-box
        font-size: 24px
        line-height: 32px
        +media(480)
            font-size: 36px
            line-height: 67px
        +media(678)
            font-size: 56px
        letter-spacing: 0.03em
        text-transform: uppercase         
        color:#FF8B00
        align-self: stretch
        text-align: center 

    &__middle_text 
        font-family: 'Balsamiq Sans'
        font-weight: 700
        font-size: 16px
        line-height: 29px
        letter-spacing: 0.03em
        text-transform: uppercase
        color: #0035F7

        +media(480)
            font-size: 18px
            line-height: 29px
        +media(678)
            font-size: 24px


.diamond
    position: relative
    &::before
        content: ''
        position: absolute
        right: 0        
        top: -23px
        width: 50px
        height: 50px
        background-size: contain
        background-repeat: no-repeat
        background-image: url("../img/price/diamond.svg")

        +media(720)
            width: 85px
            height: 85px    

.circle
    position: relative
    &::before
        content: ''
        position: absolute
        right: 0
        
        top: -23px
        width: 35px
        height: 35px

        background-color: #03CEA4
        border-radius: 50%

        +media(720)
            width: 75px
            height: 75px


.star
    position: relative
    &::after
        content: ''
        position: absolute
        right: 0
        
        top: -23px
        width: 50px
        height: 50px
        background-size: contain
        background-repeat: no-repeat
        background-image: url("../img/price/star.svg")

        +media(720)
            width: 85px
            height: 85px            
    

.snow
    position: relative
    &::before
        content: ''
        position: absolute
        right: 0
        
        top: -23px
        width: 50px
        height: 50px
        +media(720)
            width: 85px
            height: 85px
        background-size: contain
        background-repeat: no-repeat
        background-image: url("../img/price/snow.svg")
    

@import components/header
@import components/main
@import components/footer
