-
    let itemGenius = [
        {
            image:"img/pages/genius/genius-title.png",
            alt:"",
            header:"Через 2 роки Ваш малюк піде до школи і стане школярем.",
            items:[
                "Для того щоб початок такого важливого періоду став для малюка радісним, потрібно готуватися до нього заздалегідь. Необхідно допомогти дитині узагальнити всі набуті знання за попередні роки та збагатити новими необхідними знаннями та навичками."
                ]
        },
        {
            image:"img/pages/genius/genius-middle.png",
            alt:"",
            header:"Заняття проводяться двічі на тиждень.",
            items:[
                "Тривалість заняття – 50 хвилин",
                "Максимальна к-сть дітей у групі –7",
                "Курс навчання – 10 місяців"
                ]
        }
    ];
- 
    let geniusCards = [
        //- 1
        {
            header:"Пізнавальний розвиток",
            title:"на заняттях дітки познайомляться з такими темами:",
            content:[
                "«Осінні зміни у природі;",
                "«Осінні місяці»;",
                "«Мої органи чуття. Кольори»;",
                "«Фрукти - у саду, овочі – на городі»;",
                "«Домашня адреса. Орієнтування у просторі»;",
                "«Помешкання свійських тварин»;",
                "«Орієнтування у часі – доба» і т.д. "
            ],
            textMore:"Всього в курсі навчання передбачено до вивчення 40 лексичних тем.",
            list:true,
            figure:"diamond",
            color:"green"
        },
        //- 2
        {
            header:"Логіко-математичний розвиток",
            title:"розвиток логічного мислення:",
            content:[
                "Знайди зайве;",
                "Продовжи рядок;",
                "Знайди латочку (за матрицями Равена);",
                "Знайди відмінності, розташуй у правильній послідовності і т.п;",
                "Розв’язування елементарних математичних задач (додавання, віднімання в межах 5 за картинками);",
                "Порівняння (більше-менше за картинками);",
                "Кількісний та порядковий рахунок;",
                "Вивчення пласких та об’ємних геометричних фігур;",
                "Уміння розпізнавати та писати цифри."
            ],
            list:true,
            figure:"snow",
            color:"pink"
        },
        //- 3
        {
            header:"Мовленнєвий розвиток",
            title:"Діти на курсі практикують та розвивають:",
            content:[
                "Комунікативні вміння;",
                "Лексичний запас."               
            ],
            textMore: "Мова є інструментом, через який діти вчаться мислити, аналізувати і робити висновки. Дошкільнята, які активно розвивають мовлення, легше сприймають нову інформацію, запам'ятовують її та використовують у повсякденному житті.",
            list:false,
            figure:"circle",
            color:"blue"
        },
        //- 4
        {
            header:"Підготовка руки до письма",
            title:"письмові вправи дуже важливі в останній рік перед школою. Діти практикують:",
            content:[
                "Правильна постановка руки; ",
                "Малювання (фломастери, фарби, олівці); ",
                "Ліплення (пластилін, тісто); ",
                "Робота з ножицями, клеєм; ",
                "Виконання аплікацій; ",
                "Штрихування; ",
                "Копіювання за зразком, обведення цифр крупним шрифтом за зошитами «Кумон»."
             ],
            list:true,
            figure:"diamond",
            color:"green"
        },
        //- 5
        {
            header:"Підготовка до читання",
            title:"читання – важлива складова успішного навчання у школі. заняття включають:",
            content:[
            "Вивчення усіх літер українського алфавіту;",
            "Складання простих складів та слів із «Магнітних кубиків для читання»;",
            "Читання складів у таблицях;",
            "Читання простих слів у «Альбомах для читання»;",
            "Перегляд відео-абеток;",
            "Квести та ігри з літерами, складами та словами."
            ],
            list:true,
            figure:"snow",
            color:"pink"
        },
        //- 6
        {
            header:"Динамічні паузи",
            title:"це один із ефективних методів забезпечення рухової активності дитини:",
            content:[
                "Логоритміка;",
                "Естафети;",
                "Біг по масажному килимку;",
                "Проповзання через тунелі;",
                "Подолання перешкод та ін.;",
                "Ігри з м’ячами."                
            ],
            textMore:"Короткі активні перерви допомагають \"перезавантажити\" мозок, покращити концентрацію та підвищити ефективність навчання.",
            list:true,
            figure:"circle",
            color:"blue"
        }
    ]

.main__genius-page.milk-background 
    h1.global__huge_text.main__genius-page_header-main Курс «Маленькі генії»
    +printListsWithImage(itemGenius, "genius-page", true, false)

.main__genius-course
    h2.main__genius-course_header.global__huge_text Курс «Маленькі генії» передбачає:
    +printCardsWithFigure(geniusCards,"genius-course-card")

.main__genius-info   
    .positive.main__genius-info_container.flex
        .main__genius-info_box.positive_box.milk-background  
            h3.main__genius-info_header.global__middle_text Чому варто приєднатися?
            .main__genius-info_text За умови РЕГУЛЯРНОГО відвідування занять студенти курсу «МАЛЕНЬКІ ГЕНІЇ» збагатять свої знання про навколишній світ, розширять свій лексичний запас, опанують логіку читання, навчаться виконувати елементарні математичні операції та підготують свою руку до письма.
                a.global__btn.main__genius-info_btn Записати дитину    
        img.main__genius-info_image.positive_image.left-img(src="img/pages/genius/genius-hugeIMG.png", alt="course_Ukraine")

.main__genius-photoalbum
    +printPhotoAlbum