.main
    &__about
        margin-top: 140px
        padding: 30px 10px
        box-sizing: border-box

        &_header
            padding: 30px 10px
            box-sizing: border-box
        &_box
            position: relative  
            width: 100%        
            padding-left: 0px
            margin: 0 auto 50px
            align-items: center
            +media(1280)
                width: 1170px        
                padding-left: 120px

            img
                position: absolute
                display: none               
                +media(640)
                    width: 40%
                    display: block
                    top: 20%
                    transform: translateX(-20px)
                +media(728)
                    top: 10%
                    width: 50%
                    transform: translateX(0px)

                +media(1280)
                    top: 50px
                    width: 630px

        
        &_text
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            box-sizing: border-box
            padding: 10px 10px
            border-radius: 50px
            background: #FFFFFF
            box-shadow: 0px 5px 7px rgba(42, 42, 42, 0.1)
            width: 100%
            font-size: 12px
            line-height: 18px
            color: #313131
            +media(640)
                align-items: flex-end

            +media(928)
                font-size: 18px
                line-height: 23px
                padding: 40px 40px
                border-radius: 150px

        &_list
            display: block
            margin: 5px 8px
            width: max-content
            
            +media(928)
                margin: 5px 20px
            +media(1280)
                margin: 5px 88px
                min-width: 470px

            &_header
                font-size: 12px
                margin: 15px 0
                text-align: center

                +media(678)
                    font-size: 14px
                +media(928)
                    text-align: left
                    font-size: 18px
                    margin: 45px 0
                +media(1280)
                    font-size: 24px
            &_item
                padding-left: 25px
                margin-bottom: 16px
                +media(840)
                    padding-left: 40px
                    margin-bottom: 23px
                position: relative
                &::before
                    content: ''
                    position: absolute
                    width: 20px
                    height: 20px
                    +media(840)
                        width: 30px
                        height: 30px
                    top: 0
                    left: 0
                    background-size: contain
                    background-image: url("../img/icons/marker.svg") 
        &__btn
            margin: 30px 0 5px
            +media(928)
                margin: 50px 0 35px
            width: 255px
            padding: 12px