/*---------------------------------------------*/
/*-------------------age-----------------------*/
/*---------------------------------------------*/
.main
    &__age 
        margin-top: 90px
        padding: 43px 10px
        box-sizing: border-box
        &_header
            padding-top: 20px
            padding-bottom: 20px
        &_container
            justify-content: center
            align-items: center
            column-gap: 60px
        &_item
            text-align: center
            padding: 7px
            h4
                padding: 20px 10px
                width: 200px
                text-align: center 
