/*---------------------------------------------*/
/*-------------------levy----------------------*/
/*---------------------------------------------*/
.main
    
    &__levy
        margin-top: 60px
        padding: 58px 10px
        box-sizing: border-box
        &_header
            margin-bottom: 30px
        &_container
            margin: auto
            max-width: max-content
            column-gap: 20px
            row-gap: 20px
            justify-content: center
            align-items: stretch
            align-content: stretch
            +media(1280)
                flex-wrap: nowrap

        &_card
            font-size: 16px
            position: relative            
            line-height: 22px
            background-color: #fff 
            border-radius: 30px
            padding: 20px 15px 85px
            +media(720)
                border-radius: 10px
                padding: 45px 30px 90px
                width: 40%
                font-size: 13px
            +media(1280)
                width: 312px 
                border-radius: 20px
                     
            +media(1440)
                border-radius: 50px
                font-size: 16px
            &_header
                color: #FF8B00
                +media(678)
                    font-size: 18px
                    margin: 25px 0 5px 
                +media(1440)
                    font-size: 24px
            &_btn
                position: absolute
                width: 85%
                bottom: 35px
                transform: translateX(-50%)
                left: 50%
        &_time
            width: 150px
            padding: 8px
            font-size: 16px
            color: #FFFFFF

        &_text
            color: #313131
            margin: 0
            padding: 0

        strong
            display: block
            margin-top: 10px
            margin-bottom: 5px
        li
            display: block
            padding: 1px
            padding-left: 25px
            padding-bottom: 0
            font-size: 16px
            position: relative
            +media(678)
                font-size: 13px
            +media(1440)
                font-size: 16px
            &::before
                content: ''
                position: absolute
                display: block
                width: 4px
                height: 4px
                border-radius: 50%
                top: 10px
                left: 10px
                background-color: #000
            &:last-child
                margin-bottom: 15px

        &_in-month 
            display: block
            font-size: 18px 
            padding-top: 15px 
            +media(678)
                padding-top: 15px 
                font-size: 15px
            +media(1440)
                padding-top: 0px 
                margin: 5px 0 
                font-size: 18px
