/*---------------------------------------------*/
/*-------------------photo-------------------*/
/*---------------------------------------------*/
.main
    
    &__photo
        margin: auto
        margin-top: 80px
        margin-bottom: 50px
        max-width: 1580px
        width: calc(100% - 20px)
        &_btn
            width: max-content 
            padding: 8px 6px 6px
            font-size: 12px
            +media(640)
                padding: 10px 30px 8px
                font-size: 16px

            font-weight: 700
            background-color: #fff
            appearance: none
            &:hover
                background-color: #fff
                color: #fff

            &:nth-child(3n+1)
                color: #0033FF
                border-color: #0033FF
                    
            &:nth-child(3n-1)
                color: #FF0099
                border-color: #FF0099

            &:nth-child(3n)
                color: #03CEA4
                border-color: #03CEA4

                
            &_container
                display: flex
                flex-wrap: wrap
                justify-content: center
                column-gap: 5px
                row-gap: 5px
                margin: 25px 0 30px 
                +media(640)
                    row-gap: 10px
                    column-gap: 10px
                +media(1280)
                    column-gap: 50px
                
        &_img
            
            //width: 100%
            // aspect-ratio: 5/4


            object-fit: contain
            aspect-ratio: 4 / 3
            border-radius: 20px

            object-fit: cover
            object-position: center
            +media(678)
                //width: 30%
            +media(1280)
                max-width: 500px
                //height: 400px
                border-radius: 50px


.dots-container
    display: flex
    justify-content: center
    row-gap: 20px
    column-gap: 10px
    overflow: hidden
    padding: 10px
    box-sizing: border-box
    transform: translateX(-50%)
    left: 50%
    align-items: center

.slider-dot 
    display: inline-block
    width: 15px
    height: 15px
    border-radius: 50%
    box-sizing: border-box
    border: 1px solid #0033FF

.dots-container .activeFade
    background-color: #FF8B00
    border-color: transparent
    

.slider_navigation  
    position: relative
    margin: 0 20px
    width: 40px
    height: 40px
    border: 1px solid #FF8B00
    box-sizing: border-box
    background-color: #FF8B00    
    border-radius: 50%
    &:hover
        background-color: #FFF
        


.left
    &::before
        content: ''
        position: absolute
        width: 17px
        height: 1px
        left: 11px
        top: 19px
        border-top: 1px solid #0033FF
        background-color:#0033FF
    &::after
        content: ''
        position: absolute
        width: 5px
        height: 5px
        left: 12px
        top: 17px

        transform: rotate(45deg)
        border: 2px solid #0033FF
        border-right:  none 
        border-top:  none 
                
.right
    &::before
        content: ''
        position: absolute
        width: 17px
        height: 1px
        left: 11px
        top: 19px
        border-top: 1px solid #0033FF
        background-color:#0033FF
    &::after
        content: ''
        position: absolute

        width: 5px
        height: 5px
        left: 22px
        top: 17px
        transform: rotate(45deg)
        border: 2px solid #0033FF
        border-left: none 
        border-bottom:  none 

.hidden-sliders
    display: none

