.main  
    
    /*---------------------------------------------*/
    /*------------------report-------------------*/
    /*---------------------------------------------*/
    &__report
        margin-top: 100px
        padding: 30px 10px
        &_header
            padding: 30px
        &_container            
            justify-content: center
            column-gap: 15px
            row-gap: 15px
        &_card 
            padding: 25px 20px 15px
            width: 100%
            font-size: 12px
            background-color: #fff
            border-radius: 20px
            box-sizing: border-box
            +media(640)
                font-size: 14px
                width: 500px
                padding: 45px 50px 30px
                border-radius: 50px
            &_name
                width: max-content
                padding: 8px 18px
                font-family: 'Balsamiq Sans'
                font-weight: 700
                font-size: 16px
                color: #FFFFFF
                margin-bottom: 15px
        &_nav_container
            margin-top: 15px
            margin-bottom: 15px
        &_btn 
            margin: 40px auto
            width: 250px


