.main  
    
    /*---------------------------------------------*/
    /*------------------report-------------------*/
    /*---------------------------------------------*/
    &__report
        margin-top: 100px
        padding: 30px 10px
        &_header
            padding: 30px
        &_container   
            justify-content: center
            column-gap: 15px
            row-gap: 15px
            max-width: 1560px
            margin: auto
            width: calc( 100% - 20px )
        &_card 
            padding: 25px 20px 20px
            width: 100%
            min-height: 250px
            font-size: 12px
            background-color: #fff
            border-radius: 20px
            box-sizing: border-box
            +media(400)
                font-size: 13px
            +media(480)
                font-size: 15px
            +media(560)
                font-size: 12px

            +media(640)
                width: 30%
                min-height: 270px
                font-size: 14px
                padding: 20px 20px 20px
                border-radius: 15px
            +media(1540)
                border-radius: 50px
                padding: 45px 50px 35px
                min-height: 300px
                width: 500px
            &_name
                width: max-content
                padding: 8px 18px
                font-family: 'Balsamiq Sans'
                font-weight: 700
                font-size: 13px
                +media(480)
                    font-size: 15px
                +media(560)         
                    font-size: 12px
                    padding: 10px 12px
                +media(680)
                    font-size: 16px
                    padding: 8px 18px

                color: #FFFFFF
                margin-bottom: 15px
            strong:hover
                cursor: $pointer

        &_nav_container
            margin-top: 15px
            margin-bottom: 15px
        &_btn 
            margin: 40px auto
            width: 250px


