-
    let itemsEnglish = [
        {
            image:"img/pages/english/english-preschool.png",
            alt:"",
            header:"навчання англійської мови дітей дошкільного віку.",
            items:[
                "Із перших днів життя ми намагаємося допомогти своєму малюкові на шляху його розвитку, підштовхнути, направити в потрібне русло. І одним із значущих етапів є вивчення англійської мови в дошкільному віці. "
                ]
        },
        {
            image:"img/pages/english/english-motivation.png",
            alt:"",
            header:"На заняттях з англійської для дітей дошкільного віку найбільшою мотивацією буде інтерес і веселощі. ",
            items:[
                "Ці дві складові розкриють перед вашим дошкільням двері в дивовижний, пізнавальний світ англійської мови. Якщо дитині щось подобається, вона захоче робити це знову і знову, і таким чином ми прищеплюємо їй любов до вивчення англійської і не тільки."
                ]
        },
        {
            image:"img/pages/english/english-reading.png",
            alt:"",
            header:"а чому ж у першу чергу вчити дитину – писати, читати, говорити або сприймати на слух англійську?",
            items:[
                "Ми створили комплексний підхід до навчання англійської дітей дошкільного віку. Така програма містить уроки для дітей від 3 до 7 років. На уроці для дошкільнят присутні 80% практики і 20% теорії. Заняття проходять за допомогою різних ігор. Під керівництвом англомовних викладачів діти природнім чином вивчають нові слова, розширюють власний запас слів, набувають знань граматики."
                ]
        },
        {
            image:"img/pages/english/english-practice.png",
            alt:"",
            header:"Діти використовують отриману інформацію на практиці, закріплюють матеріал вдома і вивчають нове.",
            items:[
                "На уроці англійської для дошкільнят ми також не забуваємо про інтерактивні завдання, поєднуємо отримані знання з малюванням, ліпленням і танцями. Так діти швидше розвиваються, вчаться говорити англійською мовою, соціалізуються, досягають успіхів у подальшому житті."
                ]
        }
        ]
.main__english-page.milk-background 
    h1.global__huge_text.main__english-page_header-main англійська мова
    +printListsWithImage(itemsEnglish, "english-page", true)
