-
    let allItemsPrincepes = [
            {
                img:"img/pages/english/genius.png",
                alt:"",
                header:"Принципи навчання англійської мови в Лабораторії маленьких геніїв:",
                items:[
                    "Дошкільник навчається англійської з однолітками. Швидше проходить процес соціалізації.",
                    "Кращими фахівцями розроблена спеціальна методика, яка допоможе вашій дитині полюбити англійську мову та вільно нею володіти в подальшому.",
                    "Вашого дошкільника навчатимуть іноземної мови кращі вчителі з бездоганним знанням англійської, які при цьому дуже люблять дітей."
                    ]
            },
            {
                img:"img/pages/english/labaratory.png",
                alt:"",
                header:"Принципи навчання англійської мови в Лабораторії маленьких геніїв:",
                items:[
                    "Навчання англійської – дисциплінує, сприяє більш відповідальному сприйняття предмета.",
                    "Дошкільнята на уроках англійської, крім основного предмета, вчаться взаємодіяти в колективі.",
                    "На заняттях присутня здорова атмосфера суперництва. Діти краще стараються одне перед одним."
                    ]
            }
        ];


+setPrice("1300 грн./міс (8 занять по 50 хв.)")

.main__english-principes.milk-background 
    h2.global__huge_text.main__english-principes_header-main принципи навчання
    for oneItemsPrincepes in allItemsPrincepes
        +printQuadro(oneItemsPrincepes, "english-principes", englishUrl)
