
- 
    let wayCards = [
        {
            header:"4-5 років",
            title:"Діти з радістю та інтересом дізнаються усе нове та цікаве!",
            content:[
                "Це ідеальний час, аби розпочати вивчати англійську мову – веселі дитячі пісні, віршики та активні руханки дітки чудово запам’ятовують та завжди бажають продемонструвати вивчене. ",
                "Заняття проходить динамічно із-за частої зміни діяльності – танці, логічні завдання, творчі поробки, вивчення нових слів та висловів, ігри з використанням англійської мови приносить море задоволення діткам. ",
                "Під час уроку використовуються яскраві навчальні матеріали – тематичні картки, іграшки, пазли, конструктори, з допомогою яких діти вивчають кольори, фрукти, овочі, тварин та багато іншого."
            ],
            list:false,
            figure:"diamond",
            color:"green"
        },
        {
            header:"5-6 років",
            title:"Основною компетенцією є спілкування англійською!",
            content:[
                "Це передбачає можливість розуміти прості вислови і спілкуватися нею у відповідних ситуаціях. ",
                "Саме на початковому етапі навчання англійської мови закладаються психолінгвістичні основи іншомовної комунікативної компетентності, необхідні та достатні для подальшого її розвитку й удосконалення. ",
                "Тому наше завдання - формування умінь сприймати на слух, говорити, читати й писати англійською мовою у межах визначених результатів навчально-пізнавальної діяльності учнів, що узгоджуються із Загальноєвропейськими Рекомендаціями з мовної освіти."
            ],
            list:false,
            figure:"snow",
            color:"pink"
        }
    ]



.main__english-way
    h2.main__english-way_header.global__huge_text підхід до навчання

    +printCardsWithFigure(wayCards,"english-way-card")

.main__english-way-photoalbum
    +printPhotoAlbum