- 
    let aboutArray = [
        {
            image:"img/about/comfort_dlya_ditiny.png",
            alt:"comfort_dlya_ditiny",
            header:"Комфортний простір для дитини ",
            items:[
                "Ігровий майданчик",
                "Красиві та затишні приміщення",
                "Якісні іграшки та навчальні матеріали",
                "5-разове харчування"
            ]
        },
        
        {
            image:"img/about/fizicni_vpravi_dlya_ditiny.png",
            alt:"fizicni_vpravi_dlya_ditiny",
            header:"Комфортний простір для дитини",
            items:[
                "Заняття з фізкультури", 
                "Прогулянки на свіжому повітрі",
                "Хореографія",
                "Спортивні розваги та квести"
            ]
        } ,
        {
            image:"img/about/intelektualni_navichky_dytyny.png",
            alt:"intelektualni_navichky_dytyny",
            header:"інтелектуальний розвиток",
            items:[
                "Образотворче мистецтво та музика",
                "Математика, логіка та читання",
                "Англійська мова",
                "Пізнаємо світ та розвиток мовлення"
            ]
        }
    ];

.main__about.milk-background#about 
    h2.global__huge_text.main__about_header Про нас
    +printListsWithImage(aboutArray, "about")
