.main__mentoring.milk-background 
    h2.global__huge_text.main__mentoring_header додаткові заняття та гуртки у Центрі розвитку дітей
    .main__mentoring_container.flex
        a(href="prepare.html").main__mentoring_card
            h3.global__middle_text підготовка до школи
            img(src="img/pages/index/mentoring/prepare.png", alt="lego").main__mentoring_img                                    
        a(href="logopeg.html").main__mentoring_card
            h3.global__middle_text логопед-дефектолог
            img(src="img/pages/index/mentoring/corrector.png", alt="lego").main__mentoring_img                                    
        a(href="course.html").main__mentoring_card
            h3.global__middle_text мама+малюк
            img(src="img/pages/index/mentoring/cooperate.png", alt="lego").main__mentoring_img                                    
        a(href="english.html").main__mentoring_card
            h3.global__middle_text англійська мова
            img(src="img/pages/index/mentoring/mentor-english.png", alt="lego").main__mentoring_img                                    
        a(href="art.html").main__mentoring_card
            h3.global__middle_text творчі майстер-класи
            img(src="img/pages/index/mentoring/handmade.png", alt="lego").main__mentoring_img                                    
        a(href="saturday.html").main__mentoring_card
            h3.global__middle_text цікава субота
            img(src="img/pages/index/mentoring/coocking.png", alt="lego").main__mentoring_img