.main__report.milk-background#report 
    h2.global__huge_text.main__report_header Відгуки
    .main__report_container.flex
        .main__report_card 
            .main__report_card_name.global__btn.global_smal-btn.pink Катерина Медун
            p.main__report_card_text Відвідували багато садочків але підхід до малечі змогли знайти саме тут. Лабораторія маленьких геніїв - це, в першу чергу, професійна команда відкритих та добрих людей , яка по-справжньому любить малечу. Команда, в якій панує затишна та гармонійна атмосфера і яка кожен день створює маленьке свято для них. Щиро раджу♥️♥️♥️♥️
        .main__report_card 
            .main__report_card_name.global__btn.global_smal-btn.green Аліса Крук
            p.main__report_card_text Відвідуємо садочок вже 4 роки. Дуже задоволені. Дитина ходить з задоволенням щодня. Ще дуже крута підготовка до школи . Після занять в садочку не потрібно додаткових підготовок. Дитина читає, пише , вміє рахувати.
        .main__report_card 
            .main__report_card_name.global__btn.global_smal-btn.blue Лілія Хомич
            p.main__report_card_text Зручне місце розташування. Комфортні умови для дітей. Хороші іграшки для самостійної гри. Та найцінніше те, що усі вихователі мають позитивний світогляд та ставляться до дітей як до маленьких особистостей, дають свободу для самовираження, та одночасно слідкують за дотриманням соціальних правил та норм. Атмосфера в садочку позитивна і це сприяє гармонійному розвитку дітей. Підготовка  більше...
    .main__report_nav_container.global-nav
        button.global__circle_btn.main__report_nav__circle_btn--left.arr-left 
        .global-dot.main__report_nav__dot.global-dot--active 
        .global-dot.main__report_nav__dot 
        .global-dot.main__report_nav__dot 
        .global-dot.main__report_nav__dot 
        .global-dot.main__report_nav__dot 
        button.global__circle_btn.main__report_nav__circle_btn--right.arr-right 
    a.global__btn.main__report_btn Переглянути усі