-
    let itemsPrepare = [
        {
            image:"img/pages/prepare/exparience.png",
            alt:"",
            header:"Наявність досвіду читання – одна з головних умов успішного навчання у школі.",
            items:[
                "Ми навчаємо дітей читати з допомогою програми «Просто читай». На заняттях діти займаються з трьома компонентами методики (кубиками, альбомами для читання та таблицями). В результаті у дітей задіяно 5 видів пам’яті: зорова, слухова, тактильна, емоційна та рухова."
                ]
        },
        {
            image:"img/pages/prepare/math.png",
            alt:"",
            header:"На заняттях з математики ми використовуємо програму NUMICON.",
            items:[
                "Набір наочного матеріалу та комп’ютерну програму, призначені допомогти маленьким математикам пізнати числа та операції з ними. Діти навчаються також краще розуміти: що таке парні та непарні числа, з чого складається і як виглядає число, різницю між числами «більше-менше» та вивчають геометричний матеріал."
                ]
        },
        {
            image:"img/pages/prepare/writing.png",
            alt:"",
            header:"Важливою частиною підготовчої програми до школи є «Підготовка руки до письма»",
            items:[
                "Хочеться зробити акцент на важливості обов’язкових письмових вправ в останній рік перед школою. Чим більш сильною, стійкою та витривалою стане рука учня до моменту вступу до школи, тим краще буде для нього в самій школі. На заняттях діти працюють у спеціальних зошитах-прописах з математики та письма, де потрібно обводити по контуру, писати повторювані елементи, писати за зразком і т.д."
                ]
        },
        {
            image:"img/pages/prepare/logic.png",
            alt:"",
            header:"Логіка відіграє ключову роль у розвитку критичного мислення.",
            items:[
                "Вона допомагає дітям аналізувати інформацію, робити обґрунтовані висновки і креативно підходити до вирішення завдань. Логічні вправи також зміцнюють пам'ять, увагу і організованість, що є основою для успішного навчання в школі. Крім того, вони підвищують впевненість у своїх силах і сприяють розвитку соціальних навичок через співпрацю з однолітками. Інтеграція логіки в ранню підготовку забезпечує міцний фундамент для подальшого академічного та особистісного зростання дітей."
                ]
        }
        ];

- 
    let successList = [
        "Заняття проводяться двічі на тиждень",
        "Тривалість заняття - 50хв",
        "Кількість дітей у групі – 8-10",
        "10 місяців навчання"
    ];

.main__prepare-page.milk-background 
    h1.global__huge_text.main__prepare-page_header підготовка до школи
    +printListsWithImage(itemsPrepare, "prepare-page", true, null, prepareUrl)

+setPrice("1300 грн./міс (8 занять по 50 хв.)")

.main__prepare-page-success  
    .positive.main__prepare-page-success_container.flex
        .main__prepare-page-success_box.positive_box.milk-background  
            h3.main__prepare-page-success_header.global__middle_text Успішність малюка у школі багато в чому залежить від рівня підготовки до школи.
            ul.main__prepare-page-success_list 
                for item in successList
                    li.main__prepare-page-success_list-item.marker-list #{item}
            a.global__btn.main__prepare-page-success_btn(href=prepareUrl) Записати дитину
        img.main__prepare-page-success_image.positive_image(src="img/pages/prepare/prepare-frame.png", alt="prepare_Ukraine")
