-
    let allItemsPrepare = [
            {
                img:"img/pages/prepare/result.png",
                alt:"",
                header:"За умови регулярного відвідування занять, учні курсу «ПІДГОТОВКА ДО ШКОЛИ» навчаться:",
                items:[
                    "Розв’язувати логічні та елементарні математичні задачі",
                    "Оволодіють усним рахунком (в межах 10)",
                    "Будуть додавати та віднімати в межах першого десятку",
                    "Навчаться писати та розпізнавати цифри (в межах 10)"
                    ]
            },
            {
                img:"img/pages/prepare/regular.png",
                alt:"",
                header:"За умови регулярного відвідування занять, учні курсу «ПІДГОТОВКА ДО ШКОЛИ» навчаться:",
                items:[
                    "Вивчать усі літери українського алфавіту та навчаться об’єднувати їх у склади, читати слова, речення та тексти, виконувати звуковий аналіз слова",
                    "Навчаться правильно тримати ручку та олівець у руці",
                    "Оволодіють різними загальнонавчальними навичками"
                    ]
            }
        ];

- 
    let prepareHuge = [
        "Заняття проводяться двічі на тиждень",
        "Тривалість заняття - 50хв",
        "Кількість дітей у групі – 8-10",
        "10 місяців навчання"
    ];


.main__prepare-page-result.milk-background 
    h2.global__huge_text.main__prepare-page-result_header-main результат навчання
    for oneItemsPrepare in allItemsPrepare
        +printQuadro(oneItemsPrepare, "prepare-page-result")

.main__prepare-page-photoalbum
    +printPhotoAlbum
