-
    let itemsPrepare = [
        {
            image:"img/pages/prepare/.png",
            alt:"",
            header:"За умови регулярного відвідування занять, учні курсу «ПІДГОТОВКА ДО ШКОЛИ» навчаться:",
            items:[
                "Розв’язувати логічні та елементарні математичні задачі",
                "Оволодіють усним рахунком (в межах 10)",
                "Будуть додавати та віднімати в межах першого десятку",
                "Навчаться писати та розпізнавати цифри (в межах 10)"
                ]
        },
        {
            image:"img/pages/prepare/.png",
            alt:"",
            header:"За умови регулярного відвідування занять, учні курсу «ПІДГОТОВКА ДО ШКОЛИ» навчаться:",
            items:[
                "Вивчать усі літери українського алфавіту та навчаться об’єднувати їх у склади, читати слова, речення та тексти, виконувати звуковий аналіз слова",
                "Навчаться правильно тримати ручку та олівець у руці",
                "Оволодіють різними загальнонавчальними навичками"
                ]
        }
        ];

- prepareHuge = [
    "Заняття проводяться двічі на тиждень",
    "Тривалість заняття - 50хв",
    "Кількість дітей у групі – 8-10",
    "10 місяців навчання"
]