footer.footer 
    .footer__location.milk-background.star.snow
        p.global__middle_text.footer__disclaimer Наш садочок забезпечений сучасним укриттям, додатковими джерелами електроенергії (на випадок відключення світла), котельня обладнана генератором для опалювального сезону.
        .footer__location_container.flex
            .footer__location_card 
                h3.global__middle_text.footer__location_header наша локація
                a(href="#").footer__location_strong.footer__location_marker вул. Вайсера, 4/2  
                a(href="#").global__link.footer__location_link подивитися мапу 
                    span.footer__location_arrow 
            .footer__location_card 
                h3.global__middle_text.footer__location_header Графік роботи
                strong.footer__location_strong Міні-садок:
                span 8:00-13:00
                br
                strong.footer__location_strong Садок:
                span 8:00-17:00
                br
                strong.footer__location_strong Садок повного дня:
                span 8:00-19:00
                br
                strong.footer__location_strong Центр розвитку дітей:
                span 16:30 - 19:30
    .footer__contact.milk-background
        .footer__contact_container.flex
            .footer__contact_links 
                a.footer__contact_links--phone(href="tel:+380984562045") +38 098 456 20 45
                a.footer__contact_links--email(href="mailto:labmalgen@gmail.com") labmalgen@gmail.com
            .footer__contact_links-centered 
                .footer__contact_links-social
                    a.footer__contact_links-social-ref.instagram(href="#")
                    a.footer__contact_links-social-ref.facebook(href="#")
                p.footer__contact_links-copywright &copy; Лабораторія маленьких геніїв 2015-2024. Усі права захищені
            .footer__contact_links-left        
                .footer__contact_links__logo 
                    img(src="img/header/Logo.svg", alt="Laboratory_malenkih_vihakhidnikiv_Khmalnytskiy")
                a.footer__contact_links-left--politic(href="#") Політика конфіденційності