main
    include pages/index/about
    include pages/index/age
    include pages/index/kindergarten
    include pages/index/lessons
    include pages/index/levy
    include pages/index/mentoring
    include pages/index/pedagogue
    include pages/index/photo
    include pages/index/report