main 
    include main/about
    include main/age
    include main/kindergarten
    include main/lessons
    include main/levy
    include main/mentoring
    include main/pedagogue
    include main/photo
    include main/report