//- mixin printPhotoAlbum
//-     .main__photo#photoalbum.slider 
//-         h2.global__huge_text.main__photo_header галерея
//-         .main__photo_btn_container
//-             button(checked).global__btn.global_smal-btn.main__photo_btn заняття у садочку
//-             button().global__btn.global_smal-btn.main__photo_btn свята та вечірки
//-             button().global__btn.global_smal-btn.main__photo_btn екскурсії та прогулянки
//-             button().global__btn.global_smal-btn.main__photo_btn майстер-класи
//-             button().global__btn.global_smal-btn.main__photo_btn ігри та розваги
//-             button().global__btn.global_smal-btn.main__photo_btn меню
            
//-         .main__photo_img_container.slider-container
//-             img(src="img/photo/photo1.png", alt:"lego").main__photo_img 
//-             img(src="img/photo/photo2.png", alt:"lego").main__photo_img 
//-             img(src="img/photo/photo3.png", alt:"lego").main__photo_img 
//-             img(src="img/photo/photo2.png", alt:"lego").main__photo_img 
//-         .main__photo_nav_container.global-nav
//-             .global__circle_btn.main__photo_nav__circle_btn--left.arr-left.left.slider_navigation 
//-             .global-dot.main__photo_nav__dot.slider-dot

//-             .global-dot.main__photo_nav__dot.slider-dot  
//-             .global-dot.main__photo_nav__dot.slider-dot  
//-             .global-dot.main__photo_nav__dot.slider-dot  
//-             .global-dot.main__photo_nav__dot.slider-dot  

//-             .global__circle_btn.main__photo_nav__circle_btn--right.arr-right.right.slider_navigation   

-
    let albums = [             
            {
                albumName:"title",
                photos:
                [
                    {
                        url:"img/photo/photo1.png", 
                        alt:"lego"
                    },
                    {
                        url:"img/photo/photo2.png", 
                        alt:"lego"
                    },
                    {
                        url:"img/photo/photo3.png", 
                        alt:"lego"
                    }
                ]
            }
            ,{
                albumName:"заняття у садочку",
                photos:
                [ 
                    {
                        loading:"lazy" , 
                        url:"img/photo/album1/photo_2024-07-31_18-54-28.jpg", 
                        alt:"masterclass"
                    },
                    {
                        loading:"lazy" , 
                        url:"img/photo/album1/photo_2024-07-31_19-17-40.jpg", 
                        alt:"masterclass"
                    },
                    {
                        loading:"lazy" , 
                        url:"img/photo/album1/photo_2024-07-31_19-18-03.jpg", 
                        alt:"masterclass"
                    },
                    {
                        loading:"lazy" , 
                        url:"img/photo/album1/photo_2024-07-31_19-18-38.jpg", 
                        alt:"masterclass"
                    },
                    {
                        loading:"lazy" , 
                        url:"img/photo/album1/photo_2024-07-31_19-18-40.jpg", 
                        alt:"masterclass"
                    },
                    {
                        loading:"lazy" , 
                        url:"img/photo/album1/photo_2024-09-21_19-03-05.jpg", 
                        alt:"masterclass"
                    },
                    {
                        loading:"lazy" , 
                        url:"img/photo/album1/photo_2024-09-21_19-03-16.jpg", 
                        alt:"masterclass"
                    },
                    {
                        loading:"lazy" , 
                        url:"img/photo/album1/photo_2024-09-21_19-03-55.jpg", 
                        alt:"masterclass"
                    },
                    {
                        loading:"lazy" , 
                        url:"img/photo/album1/photo_2024-09-21_19-04-27.jpg", 
                        alt:"masterclass"
                    },
                    {
                        loading:"lazy" , 
                        url:"img/photo/album1/photo_2024-09-21_19-04-34.jpg", 
                        alt:"masterclass"
                    },
                    {
                        loading:"lazy" , 
                        url:"img/photo/album1/photo_2024-09-21_19-04-42.jpg", 
                        alt:"masterclass"
                    },
                    {
                        loading:"lazy" , 
                        url:"img/photo/album1/photo_2024-09-21_19-04-58.jpg", 
                        alt:"masterclass"
                    },
                    {
                        loading:"lazy" , 
                        url:"img/photo/album1/photo_2024-09-21_19-05-05.jpg", 
                        alt:"masterclass"
                    },
                    {
                        loading:"lazy" , 
                        url:"img/photo/album1/photo_2024-09-21_19-05-13.jpg", 
                        alt:"masterclass"
                    },
                    {
                        loading:"lazy" , 
                        url:"img/photo/album1/photo_2024-09-21_19-05-19.jpg", 
                        alt:"masterclass"
                    },
                    {
                        loading:"lazy" , 
                        url:"img/photo/album1/photo_2024-09-21_19-05-25.jpg", 
                        alt:"masterclass"
                    },
                    {
                        loading:"lazy" , 
                        url:"img/photo/album1/photo_2024-09-21_19-05-31.jpg", 
                        alt:"masterclass"
                    },
                    {
                        loading:"lazy" , 
                        url:"img/photo/album1/photo_2024-09-21_19-05-39.jpg", 
                        alt:"masterclass"
                    },
                    {
                        loading:"lazy" , 
                        url:"img/photo/album1/photo_2024-09-21_19-05-44.jpg", 
                        alt:"masterclass"
                    },
                    {
                        loading:"lazy" , 
                        url:"img/photo/album1/photo_2024-09-21_19-05-56.jpg", 
                        alt:"masterclass"
                    },
                    {
                        loading:"lazy" , 
                        url:"img/photo/album1/photo_2024-09-21_19-06-22.jpg", 
                        alt:"masterclass"
                    },
                    {
                        loading:"lazy" , 
                        url:"img/photo/album1/photo_2024-09-21_19-06-31.jpg", 
                        alt:"masterclass"
                    },
                    {
                        loading:"lazy" , 
                        url:"img/photo/album1/photo_2024-09-21_19-06-51.jpg", 
                        alt:"masterclass"
                    },
                    {
                        loading:"lazy" , 
                        url:"img/photo/album1/photo_2024-09-25_19-09-22.jpg", 
                        alt:"masterclass"
                    }
                ]
            }
            ,{
                albumName:"свята та вечірки",
                photos:
                [
                    { 
                        loading:"lazy" , 
                        url:"img/photo/album2/photo_2024-07-31_17-45-14.jpg" , 
                        alt:"party_child"
                    },
                    { 
                        loading:"lazy" , 
                        url:"img/photo/album2/photo_2024-07-31_17-46-48.jpg" , 
                        alt:"party_child"
                    },
                    { 
                        loading:"lazy" , 
                        url:"img/photo/album2/photo_2024-07-31_17-46-49.jpg" , 
                        alt:"party_child"
                    },
                    { 
                        loading:"lazy" , 
                        url:"img/photo/album2/photo_2024-07-31_17-48-11.jpg" , 
                        alt:"party_child"
                    },
                    { 
                        loading:"lazy" , 
                        url:"img/photo/album2/photo_2024-07-31_17-52-50.jpg" , 
                        alt:"party_child"
                    },
                    { 
                        loading:"lazy" , 
                        url:"img/photo/album2/photo_2024-07-31_17-52-51.jpg" , 
                        alt:"party_child"
                    },
                    { 
                        loading:"lazy" , 
                        url:"img/photo/album2/photo_2024-07-31_18-03-56.jpg" , 
                        alt:"party_child"
                    },
                    { 
                        loading:"lazy" , 
                        url:"img/photo/album2/photo_2024-07-31_18-04-29.jpg" , 
                        alt:"party_child"
                    },
                    { 
                        loading:"lazy" , 
                        url:"img/photo/album2/photo_2024-07-31_18-04-34.jpg" , 
                        alt:"party_child"
                    },
                    { 
                        loading:"lazy" , 
                        url:"img/photo/album2/photo_2024-07-31_18-04-37.jpg" , 
                        alt:"party_child"
                    },
                    { 
                        loading:"lazy" , 
                        url:"img/photo/album2/photo_2024-07-31_18-04-39.jpg" , 
                        alt:"party_child"
                    },
                    { 
                        loading:"lazy" , 
                        url:"img/photo/album2/photo_2024-07-31_18-36-42.jpg" , 
                        alt:"party_child"
                    },
                    { 
                        loading:"lazy" , 
                        url:"img/photo/album2/photo_2024-07-31_18-48-14.jpg" , 
                        alt:"party_child"
                    },
                    { 
                        loading:"lazy" , 
                        url:"img/photo/album2/photo_2024-07-31_18-54-11.jpg" , 
                        alt:"party_child"
                    },
                    { 
                        loading:"lazy" , 
                        url:"img/photo/album2/photo_2024-09-21_19-14-34.jpg" , 
                        alt:"party_child"
                    },
                    { 
                        loading:"lazy" , 
                        url:"img/photo/album2/photo_2024-09-21_19-15-15.jpg" , 
                        alt:"party_child"
                    },
                    { 
                        loading:"lazy" , 
                        url:"img/photo/album2/photo_2024-09-21_19-15-40.jpg" , 
                        alt:"party_child"
                    },
                    { 
                        loading:"lazy" , 
                        url:"img/photo/album2/photo_2024-09-21_19-15-54.jpg" , 
                        alt:"party_child"
                    },
                    { 
                        loading:"lazy" , 
                        url:"img/photo/album2/photo_2024-09-21_19-16-12.jpg" , 
                        alt:"party_child"
                    },
                    { 
                        loading:"lazy" , 
                        url:"img/photo/album2/photo_2024-09-21_19-16-34.jpg" , 
                        alt:"party_child"
                    },
                    { 
                        loading:"lazy" , 
                        url:"img/photo/album2/photo_2024-09-21_19-16-55.jpg" , 
                        alt:"party_child"
                    },
                    { 
                        loading:"lazy" , 
                        url:"img/photo/album2/photo_2024-09-21_19-17-33.jpg" , 
                        alt:"party_child"
                    },
                    { 
                        loading:"lazy" , 
                        url:"img/photo/album2/photo_2024-09-21_19-17-44.jpg" , 
                        alt:"party_child"
                    },
                    { 
                        loading:"lazy" , 
                        url:"img/photo/album2/photo_2024-09-21_19-17-58.jpg" , 
                        alt:"party_child"
                    },
                    { 
                        loading:"lazy" , 
                        url:"img/photo/album2/photo_2024-09-21_19-18-12.jpg" , 
                        alt:"party_child"
                    },
                    { 
                        loading:"lazy" , 
                        url:"img/photo/album2/photo_2024-09-21_19-18-24.jpg" , 
                        alt:"party_child"
                    },
                    { 
                        loading:"lazy" , 
                        url:"img/photo/album2/photo_2024-09-21_19-19-32.jpg" , 
                        alt:"party_child"
                    },
                    { 
                        loading:"lazy" , 
                        url:"img/photo/album2/photo_2024-09-21_19-21-22.jpg" , 
                        alt:"party_child"
                    },
                    { 
                        loading:"lazy" , 
                        url:"img/photo/album2/photo_2024-09-21_19-23-22.jpg" , 
                        alt:"party_child"
                    }
                ]
            }
            ,{
                albumName:"екскурсії та прогулянки",
                photos:
                [
                    {
                        loading:"lazy" , 
                        url:"img/photo/album3/photo_2024-06-06_12-06-51.jpg",
                        alt:"walking"
                    },
                    {
                        loading:"lazy" , 
                        url:"img/photo/album3/photo_2024-06-06_12-32-05.jpg",
                        alt:"walking"
                    },
                    {
                        loading:"lazy" , 
                        url:"img/photo/album3/photo_2024-06-07_21-05-10.jpg",
                        alt:"walking"
                    },
                    {
                        loading:"lazy" , 
                        url:"img/photo/album3/photo_2024-06-10_16-04-33.jpg",
                        alt:"walking"
                    },
                    {
                        loading:"lazy" , 
                        url:"img/photo/album3/photo_2024-06-10_16-05-22.jpg",
                        alt:"walking"
                    },
                    {
                        loading:"lazy" , 
                        url:"img/photo/album3/photo_2024-06-11_14-50-40.jpg",
                        alt:"walking"
                    },
                    {
                        loading:"lazy" , 
                        url:"img/photo/album3/photo_2024-06-18_18-54-28.jpg",
                        alt:"walking"
                    },
                    {
                        loading:"lazy" , 
                        url:"img/photo/album3/photo_2024-06-21_15-25-42.jpg",
                        alt:"walking"
                    },
                    {
                        loading:"lazy" , 
                        url:"img/photo/album3/photo_2024-06-21_15-25-45.jpg",
                        alt:"walking"
                    },
                    {
                        loading:"lazy" , 
                        url:"img/photo/album3/photo_2024-06-25_14-30-05.jpg",
                        alt:"walking"
                    },
                    {
                        loading:"lazy" , 
                        url:"img/photo/album3/photo_2024-06-25_14-30-22.jpg",
                        alt:"walking"
                    },
                    {
                        loading:"lazy" , 
                        url:"img/photo/album3/photo_2024-06-28_13-35-13.jpg",
                        alt:"walking"
                    },
                    {
                        loading:"lazy" , 
                        url:"img/photo/album3/photo_2024-07-02_15-45-00.jpg",
                        alt:"walking"
                    },
                    {
                        loading:"lazy" , 
                        url:"img/photo/album3/photo_2024-07-05_10-40-48.jpg",
                        alt:"walking"
                    },
                    {
                        loading:"lazy" , 
                        url:"img/photo/album3/photo_2024-07-05_14-05-27.jpg",
                        alt:"walking"
                    },
                    {
                        loading:"lazy" , 
                        url:"img/photo/album3/photo_2024-07-10_13-48-34.jpg",
                        alt:"walking"
                    },
                    {
                        loading:"lazy" , 
                        url:"img/photo/album3/photo_2024-07-10_13-48-35.jpg",
                        alt:"walking"
                    },
                    {
                        loading:"lazy" , 
                        url:"img/photo/album3/photo_2024-08-01_16-33-39.jpg",
                        alt:"walking"
                    },
                    {
                        loading:"lazy" , 
                        url:"img/photo/album3/photo_2024-08-02_16-25-59.jpg",
                        alt:"walking"
                    },
                    {
                        loading:"lazy" , 
                        url:"img/photo/album3/photo_2024-08-07_13-04-13.jpg",
                        alt:"walking"
                    },
                    {
                        loading:"lazy" , 
                        url:"img/photo/album3/photo_2024-08-08_21-02-41.jpg",
                        alt:"walking"
                    },
                    {
                        loading:"lazy" , 
                        url:"img/photo/album3/photo_2024-08-08_21-07-22.jpg",
                        alt:"walking"
                    },
                    {
                        loading:"lazy" , 
                        url:"img/photo/album3/photo_2024-08-13_15-19-08.jpg",
                        alt:"walking"
                    },
                    {
                        loading:"lazy" , 
                        url:"img/photo/album3/photo_2024-08-15_21-30-56.jpg",
                        alt:"walking"
                    },
                    {
                        loading:"lazy" , 
                        url:"img/photo/album3/photo_2024-09-21_19-27-04.jpg",
                        alt:"walking"
                    },
                    {
                        loading:"lazy" , 
                        url:"img/photo/album3/photo_2024-09-21_19-32-31.jpg",
                        alt:"walking"
                    },
                    {
                        loading:"lazy" , 
                        url:"img/photo/album3/photo_2024-09-21_19-33-15.jpg",
                        alt:"walking"
                    },
                    {
                        loading:"lazy" , 
                        url:"img/photo/album3/photo_2024-09-21_19-43-57.jpg",
                        alt:"walking"
                    }
                ] 
            }
            ,{    albumName:"майстер-класи",
                photos:
                [
                    {
                        loading:"lazy" , 
                        url:"img/photo/album4/photo_2024-09-06_19-19-32.jpg", 
                        alt:"master-class"
                    },
                    {
                        loading:"lazy" , 
                        url:"img/photo/album4/photo_2024-09-09_18-11-55.jpg", 
                        alt:"master-class"
                    },
                    {
                        loading:"lazy" , 
                        url:"img/photo/album4/photo_2024-09-11_18-32-26.jpg", 
                        alt:"master-class"
                    },
                    {
                        loading:"lazy" , 
                        url:"img/photo/album4/photo_2024-09-16_18-33-17.jpg", 
                        alt:"master-class"
                    },
                    {
                        loading:"lazy" , 
                        url:"img/photo/album4/photo_2024-09-18_20-28-57.jpg", 
                        alt:"master-class"
                    },
                    {
                        loading:"lazy" , 
                        url:"img/photo/album4/photo_2024-09-20_18-09-45.jpg", 
                        alt:"master-class"
                    },
                    {
                        loading:"lazy" , 
                        url:"img/photo/album4/photo_2024-09-20_18-09-46.jpg", 
                        alt:"master-class"
                    },
                    {
                        loading:"lazy" , 
                        url:"img/photo/album4/photo_2024-09-21_19-50-05.jpg", 
                        alt:"master-class"
                    },
                    {
                        loading:"lazy" , 
                        url:"img/photo/album4/photo_2024-09-21_19-51-13.jpg", 
                        alt:"master-class"
                    },
                    {
                        loading:"lazy" , 
                        url:"img/photo/album4/photo_2024-09-21_19-51-23.jpg", 
                        alt:"master-class"
                    },
                    {
                        loading:"lazy" , 
                        url:"img/photo/album4/photo_2024-09-21_19-52-34.jpg", 
                        alt:"master-class"
                    },
                    {
                        loading:"lazy" , 
                        url:"img/photo/album4/photo_2024-09-21_19-52-51.jpg", 
                        alt:"master-class"
                    },
                    {
                        loading:"lazy" , 
                        url:"img/photo/album4/photo_2024-09-21_19-53-05.jpg", 
                        alt:"master-class"
                    },
                    {
                        loading:"lazy" , 
                        url:"img/photo/album4/photo_2024-09-21_19-53-16.jpg", 
                        alt:"master-class"
                    },
                    {
                        loading:"lazy" , 
                        url:"img/photo/album4/photo_2024-09-21_19-53-26.jpg", 
                        alt:"master-class"
                    },
                    {
                        loading:"lazy" , 
                        url:"img/photo/album4/photo_2024-09-21_19-54-09.jpg", 
                        alt:"master-class"
                    },
                    {
                        loading:"lazy" , 
                        url:"img/photo/album4/photo_2024-09-21_19-54-44.jpg", 
                        alt:"master-class"
                    },
                    {
                        loading:"lazy" , 
                        url:"img/photo/album4/photo_2024-09-21_19-57-14.jpg", 
                        alt:"master-class"
                    },
                    {
                        loading:"lazy" , 
                        url:"img/photo/album4/photo_2024-09-21_19-58-27.jpg", 
                        alt:"master-class"
                    },
                    {
                        loading:"lazy" , 
                        url:"img/photo/album4/photo_2024-09-21_19-59-03.jpg", 
                        alt:"master-class"
                    },
                    {
                        loading:"lazy" , 
                        url:"img/photo/album4/photo_2024-09-21_20-00-10.jpg", 
                        alt:"master-class"
                    },
                    {
                        loading:"lazy" , 
                        url:"img/photo/album4/photo_2024-09-21_20-00-42.jpg", 
                        alt:"master-class"
                    },
                    {
                        loading:"lazy" , 
                        url:"img/photo/album4/photo_2024-09-21_20-01-59.jpg", 
                        alt:"master-class"
                    },
                    {
                        loading:"lazy" , 
                        url:"img/photo/album4/photo_2024-09-21_20-02-29.jpg", 
                        alt:"master-class"
                    },
                    {
                        loading:"lazy" , 
                        url:"img/photo/album4/photo_2024-09-21_20-03-37.jpg", 
                        alt:"master-class"
                    },
                    {
                        loading:"lazy" , 
                        url:"img/photo/album4/photo_2024-09-21_20-03-52.jpg", 
                        alt:"master-class"
                    },
                    {
                        loading:"lazy" , 
                        url:"img/photo/album4/photo_2024-09-21_20-04-34.jpg", 
                        alt:"master-class"
                    },
                    {
                        loading:"lazy" , 
                        url:"img/photo/album4/photo_2024-09-21_20-06-10.jpg", 
                        alt:"master-class"
                    },
                    {
                        loading:"lazy" , 
                        url:"img/photo/album4/photo_2024-09-21_20-06-33.jpg", 
                        alt:"master-class"
                    },
                    {
                        loading:"lazy" , 
                        url:"img/photo/album4/photo_2024-09-21_20-07-19.jpg", 
                        alt:"master-class"
                    }
                ]
            }
            ,{
                albumName:"ігри та розваги",
                photos:
                [
                    {
                        loading:"lazy" , 
                        url:"img/photo/album5/photo_2024-09-21_20-08-38.jpg", 
                        alt:"games-entertaiment"
                    },
                    {
                        loading:"lazy" , 
                        url:"img/photo/album5/photo_2024-09-21_20-09-05.jpg", 
                        alt:"games-entertaiment"
                    },
                    {
                        loading:"lazy" , 
                        url:"img/photo/album5/photo_2024-09-21_20-11-32.jpg", 
                        alt:"games-entertaiment"
                    },
                    {
                        loading:"lazy" , 
                        url:"img/photo/album5/photo_2024-09-21_20-12-09.jpg", 
                        alt:"games-entertaiment"
                    },
                    {
                        loading:"lazy" , 
                        url:"img/photo/album5/photo_2024-09-21_20-12-29.jpg", 
                        alt:"games-entertaiment"
                    },
                    {
                        loading:"lazy" , 
                        url:"img/photo/album5/photo_2024-09-21_20-13-05.jpg", 
                        alt:"games-entertaiment"
                    },
                    {
                        loading:"lazy" , 
                        url:"img/photo/album5/photo_2024-09-21_20-13-23.jpg", 
                        alt:"games-entertaiment"
                    },
                    {
                        loading:"lazy" , 
                        url:"img/photo/album5/photo_2024-09-21_20-13-59.jpg", 
                        alt:"games-entertaiment"
                    },
                    {
                        loading:"lazy" , 
                        url:"img/photo/album5/photo_2024-09-21_20-14-51.jpg", 
                        alt:"games-entertaiment"
                    },
                    {
                        loading:"lazy" , 
                        url:"img/photo/album5/photo_2024-09-21_20-15-11.jpg", 
                        alt:"games-entertaiment"
                    },
                    {
                        loading:"lazy" , 
                        url:"img/photo/album5/photo_2024-09-21_20-15-34.jpg", 
                        alt:"games-entertaiment"
                    },
                    {
                        loading:"lazy" , 
                        url:"img/photo/album5/photo_2024-09-21_20-15-57.jpg", 
                        alt:"games-entertaiment"
                    },
                    {
                        loading:"lazy" , 
                        url:"img/photo/album5/photo_2024-09-21_20-16-29.jpg", 
                        alt:"games-entertaiment"
                    },
                    {
                        loading:"lazy" , 
                        url:"img/photo/album5/photo_2024-09-21_20-16-43.jpg", 
                        alt:"games-entertaiment"
                    },
                    {
                        loading:"lazy" , 
                        url:"img/photo/album5/photo_2024-09-21_20-17-02.jpg", 
                        alt:"games-entertaiment"
                    },
                    {
                        loading:"lazy" , 
                        url:"img/photo/album5/photo_2024-09-21_20-17-20.jpg", 
                        alt:"games-entertaiment"
                    },
                    {
                        loading:"lazy" , 
                        url:"img/photo/album5/photo_2024-09-21_20-17-40.jpg", 
                        alt:"games-entertaiment"
                    },
                    {
                        loading:"lazy" , 
                        url:"img/photo/album5/photo_2024-09-21_20-18-23.jpg", 
                        alt:"games-entertaiment"
                    },
                    {
                        loading:"lazy" , 
                        url:"img/photo/album5/photo_2024-09-21_20-18-40.jpg", 
                        alt:"games-entertaiment"
                    },
                    {
                        loading:"lazy" , 
                        url:"img/photo/album5/photo_2024-09-21_20-19-02.jpg", 
                        alt:"games-entertaiment"
                    },
                    {
                        loading:"lazy" , 
                        url:"img/photo/album5/photo_2024-09-21_20-19-34.jpg", 
                        alt:"games-entertaiment"
                    },
                    {
                        loading:"lazy" , 
                        url:"img/photo/album5/photo_2024-09-21_20-20-07.jpg", 
                        alt:"games-entertaiment"
                    },
                    {
                        loading:"lazy" , 
                        url:"img/photo/album5/photo_2024-09-21_20-22-59.jpg", 
                        alt:"games-entertaiment"
                    },
                    {
                        loading:"lazy" , 
                        url:"img/photo/album5/photo_2024-09-21_20-24-51.jpg", 
                        alt:"games-entertaiment"
                    },
                    {
                        loading:"lazy" , 
                        url:"img/photo/album5/photo_2024-09-21_20-24-59.jpg", 
                        alt:"games-entertaiment"
                    },
                    {
                        loading:"lazy" , 
                        url:"img/photo/album5/photo_2024-09-21_20-25-25.jpg", 
                        alt:"games-entertaiment"
                    },
                    {
                        loading:"lazy" , 
                        url:"img/photo/album5/photo_2024-09-21_20-27-22.jpg", 
                        alt:"games-entertaiment"
                    },
                    {
                        loading:"lazy" , 
                        url:"img/photo/album5/photo_2024-09-21_20-27-59.jpg", 
                        alt:"games-entertaiment"
                    },
                    {
                        loading:"lazy" , 
                        url:"img/photo/album5/photo_2024-09-21_20-28-11.jpg", 
                        alt:"games-entertaiment"
                    },
                    {
                        loading:"lazy" , 
                        url:"img/photo/album5/photo_2024-09-21_20-28-26.jpg", 
                        alt:"games-entertaiment"
                    }
                ]
            }        
        ]

mixin printPhotoAlbum
    .main__photo#photoalbum
        .hidden-sliders
            for album in albums
                .album 
                    for image in album.photos 
                        - let loadLaz = "eager"
                        if image.loading 
                            - loadLaz = image.loading 
                        img(src=image.url, alt=image.alt, loading=loadLaz)
        h2.global__huge_text.main__photo_header галерея
        .main__photo_btn_container
            button().global__btn.global_smal-btn.main__photo_btn заняття у садочку
            button().global__btn.global_smal-btn.main__photo_btn свята та вечірки
            button().global__btn.global_smal-btn.main__photo_btn екскурсії та прогулянки
            button().global__btn.global_smal-btn.main__photo_btn майстер-класи
            button().global__btn.global_smal-btn.main__photo_btn ігри та розваги
            

        .main__photo_img_container.slider
            .slider-container
                img
                img
                img