html(lang="en")
    head
        include components/head 
    body    
        include components/mixins 
        include components/photo 
                    
        include components/header 
        +printHeader(false)
        main 
            .main__contact
                h1.global__huge_text.main__contact_header контакти
                .main__contact_container
                    .main__contact_map-links 
                        
                        .main__contact_links_container
                            .main__contact_links
                                .global__middle_text.main__contact_subheader наші контакти:
                                a.icon-link.icon-link--phone(href="tel:+380984562045") +38 098 456 20 45
                                a.icon-link.icon-link--email(href="mailto:labmalgen@gmail.com") labmalgen@gmail.com
                                a(href="#").marker вул. Вайсера, 4/2  
                            .main__contact_social
                                .global__middle_text.main__contact_subheader ми у соцмережах:
                                a(href="#").icon-link.icon-link--instagram @geniusesclub
                                a(href="#").icon-link.icon-link--facebook geniusesclub15

                        .main__contact_map_container
                            .global__middle_text.main__contact_subheader Ми на карті:

                    .main__contact_form_container
                        .global__middle_text.main__contact_subheader Заповніть просту анкету для запису на заняття

                        form(action="thankyou.php" method="post").main__contact_form.milk-background 
                            label(for="username").main__contact_form_label Ваше імʼя
                                input(type="text" id="username" name="username" placeholder="Ваше імʼя").main__contact_form_textfield
                            label(for="usernum").main__contact_form_label Номер телефону
                                input(type="text" id="usernum" name="usernum" placeholder="+380").main__contact_form_textfield
                            label(for="usertask").main__contact_form_label Оберіть заняття 
                                .custom-select.main__contact_form_textfield                           
                                select(id="usertask" name="usertask").main__contact_form_textfield.select
                                    option(value="Дитячий садок 1,5-7 років") Дитячий садок 1,5-7 років
                                    option(value="Підготовка до школи") Підготовка до школи  
                                    option(value="Курс Мама+Малюк") Курс Мама+Малюк  
                                    option(value="Англійська мова") Англійська мова  
                                    option(value="Логопед-дефектолог") Логопед-дефектолог  
                                    option(value="Творчі майстер-класи") Творчі майстер-класи  
                                    option(value="Цікава субота") Цікава субота  
                            button.global__btn.main__contact_form_btn надіслати


        include components/footer 
        +printFooter(false)

        script(src="js/scripts.js") 
