html(lang="en")
    head
        include components/head 
    body    
        include components/mixins 
        include components/photo 
                    
        include components/header 
        +printHeader(false)
        main 
            include components/pages/english/head
            include components/pages/english/principes
            include components/pages/english/way
        include components/footer 
        +printFooter(false)

        script(src="js/scripts.js") 
