doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Центр розвитку дітей - Лабараторія маленьких винахідників Хмельницький
        link(rel="stylesheet", href="css/styles.css")
       
    body 
        header.header 
            .header__menu
                .header__menu__logo 
                    img(src="img/header/Logo.svg", alt="Laboratory_malenkih_vihakhidnikiv_Khmalnytskiy")
                nav.header__menu__container 
                    ul.header__menu__elements
                        li.header__menu__item__holder
                            a(href="#").header__menu__item Про нас  
                        li.header__menu__item__holder
                            a(href="#").header__menu__item Дитячий садок
                        li.header__menu__item__holder
                            a(href="#").header__menu__item Заняття
                        li.header__menu__item__holder
                            a(href="#").header__menu__item Ціни
                        li.header__menu__item__holder
                            a(href="#").header__menu__item Фотогалерея
                        li.header__menu__item__holder
                            a(href="#").header__menu__item Відгуки
                        li.header__menu__item__holder
                            a(href="#").header__menu__item Контакти
                    a.global__btn.header__menu__btn Записати дитину
            .header__hero
                h1.global__huge_text.header__hero_header Ваша дитина починає розвиватись тут
                p Від немовля до дошкільнятки, більше 9 років співпраці з батьками і дітьми!
                a.global__btn.header__hero__btn Записати дитину
                .header__hero_img_container 
                    img(src="img/header/ditina_3h_rokiv_malue_olivcami.png", alt="ditina_3h_rokiv_malue_olivcami").header__hero_img
                    img(src="img/header/yak_ditini_namaluvati_yizhachka.png", alt="yak_ditini_namaluvati_yizhachka").header__hero_img
                    img(src="img/header/dity_z_ranyoyi_shkoly_rozvitky.png", alt="dity_z_ranyoyi_shkoly_rozvitky").header__hero_img
                    img(src="img/header/centr_rozvitky_ditey_labaratoriya_malenkih_geniyiv.png", alt="centr_rozvitky_ditey_labaratoriya_malenkih_geniyiv").header__hero_img 
        main 
            .main__about 
                h2.global__huge_text.main__about_header Про нас
                .main__about_box.flex
                    img(src="", alt="") 
                    p.main__about_text 
                        h3.global__middle_text 
                        ul.main__about_list
                            li.main__about_list_item Ігровий майданчик 
                            li.main__about_list_item Ігровий майданчик
                            li.main__about_list_item Ігровий майданчик
                            li.main__about_list_item Ігровий майданчик
                        a.global__btn.main__about__btn Записати дитину
                .main__about_box.flex
                    p.main__about_text 
                        h3.global__middle_text 
                        ul.main__about_list
                            li.main__about_list_item Ігровий майданчик 
                            li.main__about_list_item Ігровий майданчик
                            li.main__about_list_item Ігровий майданчик
                            li.main__about_list_item Ігровий майданчик
                        a.global__btn.main__about__btn Записати дитину
                    img(src="", alt="") 
                .main__about_box.flex
                    img(src="", alt="") 
                    p.main__about_text 
                        h3.global__middle_text 
                        ul.main__about_list
                            li.main__about_list_item Ігровий майданчик 
                            li.main__about_list_item Ігровий майданчик
                            li.main__about_list_item Ігровий майданчик
                            li.main__about_list_item Ігровий майданчик
                        a.global__btn.main__about__btn Записати дитину


        script(src="js/script.js") 
