doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Центр розвитку дітей - Лабараторія маленьких винахідників Хмельницький
        link(rel="stylesheet", href="css/styles.css")
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    body 
        header.header 
            .header__menu.flex
                .header__menu__logo
                    img(src="img/header/Logo.svg", alt="Laboratory_malenkih_vihakhidnikiv_Khmalnytskiy")
                    .burger
                nav.header__menu__container 
                    ul.header__menu__elements.flex
                        li.header__menu__item__holder
                            a(href="#").header__menu__item Про нас  
                        li.header__menu__item__holder
                            a(href="#").header__menu__item Дитячий садок
                        li.header__menu__item__holder
                            a(href="#").header__menu__item Заняття
                        li.header__menu__item__holder
                            a(href="#").header__menu__item Ціни
                        li.header__menu__item__holder
                            a(href="#").header__menu__item Фотогалерея
                        li.header__menu__item__holder
                            a(href="#").header__menu__item Відгуки
                        li.header__menu__item__holder
                            a(href="#").header__menu__item Контакти
                a.global__btn.header__menu__btn Записати дитину
            .header__hero.milk-background
                img(src="img/header/srtichka.svg", alt="strichka").header__hero-strip
                h1.global__huge_text.header__hero_header Ваша дитина починає розвиватись тут
                p.header__hero__text Від немовля до дошкільнятки, більше 9 років співпраці з батьками і дітьми!
                a.global__btn.header__hero__btn Записати дитину
                .header__hero_img_container.flex 
                    img(src="img/header/ditina_3h_rokiv_malue_olivcami.png", alt="ditina_3h_rokiv_malue_olivcami").header__hero_img
                    img(src="img/header/yak_ditini_namaluvati_yizhachka.png", alt="yak_ditini_namaluvati_yizhachka").header__hero_img
                    img(src="img/header/dity_z_ranyoyi_shkoly_rozvitky.png", alt="dity_z_ranyoyi_shkoly_rozvitky").header__hero_img
                    img(src="img/header/centr_rozvitky_ditey_labaratoriya_malenkih_geniyiv.png", alt="centr_rozvitky_ditey_labaratoriya_malenkih_geniyiv").header__hero_img 
        main 
            .main__about.milk-background 
                h2.global__huge_text.main__about_header Про нас
                .main__about_box.flex
                    img(src="img/about/comfort_dlya_ditiny.png", alt="comfort_dlya_ditiny").left-img 
                    .main__about_text 
                        ul.main__about_list
                            h3.global__middle_text.main__about_list_header Комфортний простір для дитини 
                            li.main__about_list_item Ігровий майданчик 
                            li.main__about_list_item Красиві та затишні приміщення
                            li.main__about_list_item Якісні іграшки та навчальні матеріали
                            li.main__about_list_item 5-разове харчування
                            a.global__btn.main__about__btn Записати дитину
                .main__about_box.flex.left-container
                    .main__about_text.left-list  
                        ul.main__about_list
                            h3.global__middle_text.main__about_list_header Гармонійний фізичний розвиток
                            li.main__about_list_item Заняття з фізкультури
                            li.main__about_list_item Прогулянки на свіжому повітрі
                            li.main__about_list_item Хореографія
                            li.main__about_list_item Спортивні розваги та квести
                            a.global__btn.main__about__btn Записати дитину
                    img(src="img/about/fizicni_vpravi_dlya_ditiny.png", alt="fizicni_vpravi_dlya_ditiny").right-img 
                .main__about_box.flex
                    img(src="img/about/intelektualni_navichky_dytyny.png", alt="intelektualni_navichky_dytyny").left-img
                    .main__about_text
                        ul.main__about_list
                            h3.global__middle_text.main__about_list_header інтелектуальний розвиток
                            li.main__about_list_item Образотворче мистецтво та музика
                            li.main__about_list_item Математика, логіка та читання
                            li.main__about_list_item Англійська мова
                            li.main__about_list_item Пізнаємо світ та розвиток мовлення
                            a.global__btn.main__about__btn Записати дитину
            .main__age.milk-background 
                h2.global__huge_text.main__age_header вікові групи
                .main__age_container.flex 
                    .main__age_item 
                        img(src="img/groups/kids.svg", alt="").main__age_image
                        h4.global__middle_text.main__age__header маленькі розумники
                    .main__age_item 
                        img(src="img/groups/baby.svg", alt="").main__age_image
                        h4.global__middle_text.main__age__header маленькі дослідники
                    .main__age_item 
                        img(src="img/groups/juniors.svg", alt="").main__age_image
                        h4.global__middle_text.main__age__header маленькі генії
                    .main__age_item 
                        img(src="img/groups/pre_school.svg", alt="").main__age_image
                        h4.global__middle_text.main__age__header pre-school

            .main__kindergarten 
                h2.global__huge_text.main__kindergarten_header дитячий садок
                .main__kindergarten_container.flex
                    ul.main__kindergarten_list.milk-background  
                        li.main__kindergarten_line
                            img.main__kindergarten_icon(src="img/kindergarten/food.svg", alt="#")
                            p.main__kindergarten_text 
                                strong.global__middle_text.main__kindergarten_line_header Ми любимо нашу їжу
                                span.main__kindergarten_text і готуємо її з любовʼю до дітей
                                a(href="#").global__link.main__kindergarten_link подивитися меню  
                        li.main__kindergarten_line
                            img.main__kindergarten_icon(src="img/kindergarten/age.svg", alt="#")
                            p.main__kindergarten_text 
                                strong.global__middle_text.main__kindergarten_line_header 9 років
                                span.main__kindergarten_text ми працюємо з дітками 
                        li.main__kindergarten_line
                            img.main__kindergarten_icon(src="img/kindergarten/nanny.svg", alt="#")
                            p.main__kindergarten_text 
                                strong.global__middle_text.main__kindergarten_line_header Наші працівники тут
                                span.main__kindergarten_text тому-що люблять свою роботу та дітей
                    img.main__kindergarten_image(src="img/kindergarten/kindergarten_Ukraine.png", alt="kindergarten_Ukraine")
            .main__lessons 
                h2.global__huge_text.main__lessons_header заняття у нашому садочку
                .main__lessons_container.flex 
                    .main__lessons_card.milk-background 
                        h3.global__middle_text математика
                        img(src="img/lessons/math.png", alt="math").main__lessons_img
                    .main__lessons_card.milk-background 
                        h3.global__middle_text читання
                        img(src="img/lessons/reading.png", alt="reading").main__lessons_img
                    .main__lessons_card.milk-background 
                        h3.global__middle_text пізнаємо світ
                        img(src="img/lessons/discovery.png", alt="discovery").main__lessons_img
                    .main__lessons_card.milk-background 
                        h3.global__middle_text розвиток мовлення
                        img(src="img/lessons/speaking.png", alt="speaking").main__lessons_img
                    .main__lessons_card.milk-background 
                        h3.global__middle_text образотворче мистецтво
                        img(src="img/lessons/art.png", alt="art").main__lessons_img
                    .main__lessons_card.milk-background 
                        h3.global__middle_text англійська мова
                        img(src="img/lessons/english.png", alt="english").main__lessons_img
                    .main__lessons_card.milk-background 
                        h3.global__middle_text лего конструювання
                        img(src="img/lessons/lego.png", alt="lego").main__lessons_img
                    .main__lessons_card.milk-background 
                        h3.global__middle_text хореографія
                        img(src="img/lessons/dancing.png", alt="dancing").main__lessons_img
                    .main__lessons_card.milk-background 
                        h3.global__middle_text музичні заняття
                        img(src="img/lessons/music.png", alt="music").main__lessons_img
            .main__price.milk-background
                h2.global__huge_text.main__price_header варіанти відвідування садочку 
                .main__price_container.flex
                     .main__price_card 
                        span.global__btn.main__price_time.green 8:00-13:00
                        h3.global__middle_text.main__price_card_header адаптаційний період
                        p.main__price_text Адаптаційний період створений для батьків, які хочуть допомогти своїй дитині легше адаптуватися до нових умов. Зазвичай у цей період передбачено поступове збільшення часу перебування дитини в садку, що допомагає уникнути стресу і поступово вводить дитину в новий ритм життя
                            strong Вартість:
                            ul 
                                li  1 год - 100грн;
                                li  2 год - 200грн;
                                li  1 день до 13:00 - 280грн;
                                li  1 день до 13:00 з обідом - 380 грн;
                        a.global__btn.main__price_card_btn Записати дитину

                     .main__price_card 
                        span.global__btn.main__price_time.pink 8:00-13:00
                        h3.global__middle_text.main__price_card_header міні-садочок
                        p.main__price_text Наш тариф «Міні-садочок» для батьків, які бажають поступово адаптувати дитину до більш тривалого перебування в садочку або з власних міркувань бажають, щоб дитина відвідувала садок неповний день.
                        strong У цей тариф входить: 
                        ul 
                            li  3-разове харчування (сніданок, ланч та обід);
                            li  3 заняття щоденно;
                            li  прогулянка;
                            li  ігрова діяльність.
                        span.global__middle_text.main__price_in-month ціна - 7000 грн/місяць
                        a.global__btn.main__price_card_btn Записати дитину

                     .main__price_card 
                        span.global__btn.main__price_time.blue 8:00-17:00
                        h3.global__middle_text.main__price_card_header садочок
                        p.main__price_text Створений для батьків, які бажають, щоб їхня дитина мала більше можливостей для взаємодії з однолітками та участі в організованих заняттях, що сприяють її соціальному та емоційному розвитку.
                        strong У цей тариф входить:
                        ul 
                            li  4-разове харчування (сніданок, ланч, обід, полуденок);
                            li  4 заняття щоденно;
                            li  прогулянка;
                            li  ігрова діяльність.
                        span.global__middle_text.main__price_in-month ціна - 10500 грн/місяць
                        a.global__btn.main__price_card_btn Записати дитину
                     .main__price_card 
                        span.global__btn.main__price_time.yellow 8:00-19:00
                        h3.global__middle_text.main__price_card_header садочок повного дня
                        p.main__price_text Створений для батьків, які шукають структурований день для дитини: дитина отримає регулярний розпорядок дня, включаючи навчальні та ігрові заняття, що допомагає в її розвитку та соціалізації.
                        strong У цей тариф входить:
                        ul 
                            li  5-разове харчування (сніданок, ланч, обід, полуденок, вечеря);
                            li  4 заняття щоденно;
                            li  прогулянка;
                            li  ігрова діяльність.
                        span.global__middle_text.main__price_in-month ціна - 12500 грн/місяць
                        a.global__btn.main__price_card_btn Записати дитину
            .main__facultative.milk-background 
                h2.global__huge_text.main__facultative_header додаткові заняття та гуртки у Центрі розвитку дітей
                .main__facultative_container.flex
                    .main__facultative_card
                        h3.global__middle_text підготовка до школи
                        img(src="img/facultative/prepare.png", alt="lego").main__facultative_img                                    
                    .main__facultative_card
                        h3.global__middle_text логопед-дефектолог
                        img(src="img/facultative/corrector.png", alt="lego").main__facultative_img                                    
                    .main__facultative_card
                        h3.global__middle_text мама+малюк
                        img(src="img/facultative/cooperate.png", alt="lego").main__facultative_img                                    
                    .main__facultative_card
                        h3.global__middle_text англійська мова
                        img(src="img/facultative/facultative-english.png", alt="lego").main__facultative_img                                    
                    .main__facultative_card
                        h3.global__middle_text творчі майстер-класи
                        img(src="img/facultative/handmade.png", alt="lego").main__facultative_img                                    
                    .main__facultative_card
                        h3.global__middle_text цікава субота
                        img(src="img/facultative/coocking.png", alt="lego").main__facultative_img                                    
            .main__gallery 
                h2.global__huge_text.main__gallery_header галерея
                .main__gallery_btn_container
                    button(checked).global__btn.main__gallery_btn заняття у садочку
                    button().global__btn.main__gallery_btn свята та вечірки
                    button().global__btn.main__gallery_btn екскурсії та прогулянки
                    button().global__btn.main__gallery_btn майстер-класи
                    button().global__btn.main__gallery_btn ігри та розваги
                    button().global__btn.main__gallery_btn меню
                    
                .main__gallery_img_container
                    img(src="img/gallery/gallery1.png", alt="lego").main__gallery_img 
                    img(src="img/gallery/gallery2.png", alt="lego").main__gallery_img 
                    img(src="img/gallery/gallery3.png", alt="lego").main__gallery_img 
                .main__gallery_nav_container.global-nav
                    button.global__circle_btn.main__gallery_nav__circle_btn--left.arr-left
                    .global-dot.main__gallery_nav__dot.global-dot--active 
                    .global-dot.main__gallery_nav__dot 
                    .global-dot.main__gallery_nav__dot 
                    .global-dot.main__gallery_nav__dot 
                    .global-dot.main__gallery_nav__dot 
                    button.global__circle_btn.main__gallery_nav__circle_btn--right.arr-right 

            .main__feedback.milk-background 
                h2.global__huge_text.main__feedback_header Відгуки
                .main__feedback_container.flex
                    .main__feedback_card 
                        .main__feedback_card_name.global__btn.pink Катерина Медун
                        p.main__feedback_card_text Відвідували багато садочків але підхід до малечі змогли знайти саме тут. Лабораторія маленьких геніїв - це, в першу чергу, професійна команда відкритих та добрих людей , яка по-справжньому любить малечу. Команда, в якій панує затишна та гармонійна атмосфера і яка кожен день створює маленьке свято для них. Щиро раджу♥️♥️♥️♥️
                    .main__feedback_card 
                        .main__feedback_card_name.global__btn.green Аліса Крук
                        p.main__feedback_card_text Відвідуємо садочок вже 4 роки. Дуже задоволені. Дитина ходить з задоволенням щодня. Ще дуже крута підготовка до школи . Після занять в садочку не потрібно додаткових підготовок. Дитина читає, пише , вміє рахувати.
                    .main__feedback_card 
                        .main__feedback_card_name.global__btn.blue Лілія Хомич
                        p.main__feedback_card_text Зручне місце розташування. Комфортні умови для дітей. Хороші іграшки для самостійної гри. Та найцінніше те, що усі вихователі мають позитивний світогляд та ставляться до дітей як до маленьких особистостей, дають свободу для самовираження, та одночасно слідкують за дотриманням соціальних правил та норм. Атмосфера в садочку позитивна і це сприяє гармонійному розвитку дітей. Підготовка  більше...
                .main__feedback_nav_container.global-nav
                    button.global__circle_btn.main__feedback_nav__circle_btn--left.arr-left 
                    .global-dot.main__feedback_nav__dot.global-dot--active 
                    .global-dot.main__feedback_nav__dot 
                    .global-dot.main__feedback_nav__dot 
                    .global-dot.main__feedback_nav__dot 
                    .global-dot.main__feedback_nav__dot 
                    button.global__circle_btn.main__feedback_nav__circle_btn--right.arr-right 
                a.global__btn.main__feedback_btn Переглянути усі
        footer.footer 
            .footer__location.milk-background
                p.global__middle_text.footer__disclaimer Наш садочок забезпечений сучасним укриттям, додатковими джерелами електроенергії (на випадок відключення світла), котельня обладнана генератором для опалювального сезону.
                .footer__location_container.flex
                    .footer__location_card 
                        h3.global__middle_text.footer__location_header наша локація
                        a(href="#").footer__location_strong.footer__location_marker вул. Вайсера, 4/2  
                        a(href="#").global__link.footer__location_link подивитися мапу 
                            span.footer__location_arrow 
                    .footer__location_card 
                        h3.global__middle_text.footer__location_header Графік роботи
                        strong.footer__location_strong Міні-садок:
                        span 8:00-13:00
                        br
                        strong.footer__location_strong Садок:
                        span 8:00-17:00
                        br
                        strong.footer__location_strong Садок повного дня:
                        span 8:00-19:00
                        br
                        strong.footer__location_strong Центр розвитку дітей:
                        span 16:30 - 19:30
            .footer__contact.milk-background
                .footer__contact_container.flex
                    .footer__contact_links 
                        a.footer__contact_links--phone(href="tel:+380984562045") +38 098 456 20 45
                        a.footer__contact_links--email(href="mailto:labmalgen@gmail.com") labmalgen@gmail.com
                    .footer__contact_links-centered 
                        .footer__contact_links-social
                            a.footer__contact_links-social-ref.instagram(href="#")
                            a.footer__contact_links-social-ref.facebook(href="#")
                        p.footer__contact_links-copywright &copy; Лабораторія маленьких геніїв 2015-2024. Усі права захищені
                    .footer__contact_links-left        
                        .footer__contact_links__logo 
                            img(src="img/header/Logo.svg", alt="Laboratory_malenkih_vihakhidnikiv_Khmalnytskiy")
                        a.footer__contact_links-left--politic(href="#") Політика конфіденційності
        script(src="js/scripts.js") 
