doctype html
html(lang="en")
    head
        include components/head 
    body    
        include components/mixins 
        include components/header 
        +printHeader(true)
        include components/main 
        include components/footer 
        +printFooter(true)

        script(src="js/scripts.js") 
