html(lang="en")
    head
        include components/head 
    body    
        include components/mixins 
        include components/photo 
                    
        include components/header 
        +printHeader(false)
        main 
            - let logopedUrl ="contact.html?choise=logoped"
            include components/pages/logoped/head
            include components/pages/logoped/norms
        include components/footer 
        +printFooter(false)

        script(src="js/scripts.js") 
