-
    let itemsCourse = [
        {
            image:"img/pages/prepare/.png",
            alt:"",
            header:"Як проходить заняття?",
            items:[
                "Заняття з курсу «Мама + малюк» складається із блоків, кожен з яких триває близько 5 хвилин. Вправи за столом чергуються з іграми на килимі, музичними та динамічними паузами. Кожна дитина займається разом з мамою або іншим дорослим (татом, нянею, бабусею та ін.). Курс розрахований на 10 місяців навчання."
                ]
        }]
- courseHuge = [
    "Заняття проводяться двічі на тиждень",
    "Тривалість заняття - 50хв",
    "Кількість дітей у групі – 8-10",
    "10 місяців навчання"
]