- courseCard = [
    {
        header:"малюють",
        image:"",
        alt:""   
    },
    {
        header:"ліплять з пластиліну",
        image:"",
        alt:""   
    },
    {
        header:"роблять аплікації",
        image:"",
        alt:""   
    },
    {
        header:"вивчають кольори",
        image:"",
        alt:""   
    },
    {
        header:"виконують вправи на логіку",
        image:"",
        alt:""   
    },
    {
        header:"вивчають щось цікаве",
        image:"",
        alt:""   
    },
    {
        header:"грають з сипучими матеріалами",
        image:"",
        alt:""   
    },
    {
        header:"грають з водичкою",
        image:"",
        alt:""   
    },
    {
        header:"грають з кінетичним піском",
        image:"",
        alt:""   
    },
    {
        header:"розвивають дрібну моторику",
        image:"",
        alt:""   
    },
    {
        header:"вчаться рахувати",
        image:"",
        alt:""   
    },
    {
        header:"проводять досліди",
        image:"",
        alt:""   
    }
]