- 
    let courseResult = {
        img:"img/pages/course/mother-kids-result.png",
        alt:"",
        header:"заняття спрямовані на:",
        items:[
            "Фізичний розвиток",
            "Художньо - естетичний розвиток",
            "Сенсорно - пізнавальний розвиток",
            "Емоційно - соціальний розвиток",
            "Мовленнєвий розвиток",
            "Ігрову діяльність",
            "Розвиток логічного мислення"
        ]
    };

- 
    let investigateCards = [
        {
            header:"навички",
            title:"Діти обожнюють відкривати для себе щось нове. Батьки можуть їх мотивувати!",
            content:[
                "За умови РЕГУЛЯРНОГО відвідування занять, студенти курсу «МАМА + МАЛЮК» навчаться розрізняти кольори; прості геометричні фігури (коло, трикутник, квадрат); ",
                "Під час пальчикових ігор познайомляться з їх назвами; навчаться складати елементарні пазли; познайомляться з голосними звуками (А, О, У, І); навчаться правильно тримати фломастер в ручках. У цьому віці основний наголос ми робимо на розвиток мовлення, уваги та загальної моторики дитини."
            ],
            list:false,
            figure:"diamond",
            color:"green"
        },
        {
            header:"творчий розвиток",
            title:"Дайте змогу своїй дитині проявити творчі здібності у повній мірі!",
            content:[
                "Творчий розвиток є невід’ємною частиною занять: малювання (фломастери, фарби); ліплення (пластилін, тісто); знайомство з ножицями, клеєм; елементарні аплікації. ",
                "І пам’ятайте, підхід до виконання творчих завдань у кожної дитини індивідуальний та унікальний! Також велику увагу ми приділяємо фізичному розвитку: зарядка; логоритміка; естафети (біг по масажному килимку, проповзання через тунелі, подолання перешкод та ін.), ігри з м’ячами."
            ],
            list:false,
            figure:"snow",
            color:"pink"
        }
    ]

.main__course-result.milk-background 
    h2.global__huge_text.main__course-result_header-huge результат навчання
    +printQuadro(courseResult, "course-result", courseUrl)

.main__course-investigation
    h2.main__course-investigation_header.global__huge_text досягнення дитини

    +printCardsWithFigure(investigateCards,"course-investigation-card",courseUrl)

    +printPhotoAlbum