.footer
    &__disclaimer
        text-align: center
        max-width: 1050px
        margin: 0px auto 30px

    &__location
        max-width: 1280px
        width: 100%
        margin: 100px auto
        box-sizing: border-box 
        border-radius: 50px
        padding: 25px 10px 25px

        +media(728)
            padding: 45px 10px 45px
            border-radius: 100px

        +media(1280)
            padding: 65px 10px 55px
            border-radius: 150px

        &_container
            justify-content: center
            column-gap: 50px
        &_card
            width: 340px
            padding: 10px
            box-sizing: border-box
            padding-left: 20px
            font-weight: 400
            color: #313131
            font-size: 13px
            line-height: 16px

            +media(640)

                font-size: 14px
                line-height: 20px
                
            +media(840)
                width: 340px
                font-size: 18px
                line-height: 29px


        &_header
            margin-bottom: 18px
        &_strong            
            font-weight: 500
            font-size: 14px
            +media(640)
                font-size: 18px

            color: #313131
            margin-right: 5px
        &_marker
            padding-left: 30px
            display: block
            position: relative
            &::before
                content: ''
                position: absolute
                top: 0px
                +media(640)
                    top: 4px

                left: 2px
                width: 15px
                height: 18px
                background-size: contain
                background-repeat: no-repeat
                background-image: url("../img/icons/location.svg")
           
        &_link
            display: block
            margin: 15px 0
    &__contact
        border-top: 5px solid #FF8B00
        font-size: 16px
        &_container
            justify-content: space-between
            padding: 45px 10px
            margin: auto
            max-width: 1620px
            box-sizing: border-box

        &_links
            order: 2
            box-sizing: border-box
            padding: 20px 30px
            +media(678)
                order: 1

            a
                position: relative
                padding: 5px
                padding-left: 35px
                display: block
                font-weight: 500
                font-size: 18px
                line-height: 25px
                color: #313131
                box-sizing: border-box
                &::before
                    content: ''
                    position: absolute
                    top: 10px
                    left: 6px
                    width: 18px
                    height: 18px
                    background-size: contain
                    background-repeat: no-repeat
            &--phone::before
                background-image: url("../img/icons/phone.svg")
            &--email::before
                top: 20px
                background-image: url("../img/icons/email.svg")

            &-centered
                order:3
                padding-top: 10px
                text-align: center
                +media(678)
                    order: 2


            &-social                
                padding: 25px
                &-ref
                    display: inline-block
                    margin: 5px
                    width: 25px
                    height: 25px
                    background-size: contain
                    background-repeat: no-repeat
            &-left  
                order: 1
                +media(678)
                    order: 3
                text-align: center
                &--politic
                    display: block
                    margin: 15px 0
                    text-decoration: underline
                    font-weight: 500
                    font-size: 16px
                    color: #313131


.facebook
    background-image: url("../img/icons/instagram.svg")

.instagram
    background-image: url("../img/icons/facebook.svg")
 