/***----------------------------------------***/
/***----------------------------------------***/
/***----------ALL REPEATED STYLES-----------***/
/***-------ВСІ СТИЛІ ЩО ПОВТОРЮЮТЬСЯ--------***/
/***----------------------------------------***/
/***----------------------------------------***/

.global
    &__btn        
        display: block
        width: 205px
        font-size: 12px
        // padding: 13.5px
        padding: 10px
        height: 45px
        box-sizing: border-box
        font-family: 'Balsamiq Sans'
        vertical-align: middle
        text-align: center
        letter-spacing: 0.03em
        text-transform: uppercase
        color: #0033FF  
        background: #FDF5E2
        border: 3px solid #FF0099
        border-radius: 100px
        transition: all 0.5s ease

        +media(1280)
            font-weight: 700
            font-size: 14px
            padding: 12.5px
            height: 50px
        &:hover
            background-color: #FF0099
            border-color: $global-orange
            color: #FDF5E2
            

    &__link        
        position: relative
        font-family: 'Balsamiq Sans'
        font-style: normal
        font-weight: 700
        font-size: 16px
        width: max-content
        transition: all 0.5s ease
        color: #FF8B00
        &::before
            content: ""
            position: absolute
            width: 10px
            right: -20px
            top: 11px
            border: 1px solid #03CEA4
        &::after            
            content: ""
            position: absolute
            transform: rotate(45deg)
            width: 4px
            height: 4px
            right: -20px
            top: 9px
            border: 2px solid #03CEA4
            border-left: none
            border-bottom: none
        &:hover
            color: #0033FF
            
        
    &__huge_text
        font-family: 'Balsamiq Sans'
        font-style: normal
        font-weight: 700
        padding: 10px
        box-sizing: border-box
        font-size: 24px
        line-height: 32px
        +media(480)
            font-size: 36px
            line-height: 48px
        +media(678)
            font-size: 48px
            line-height: 56px
        +media(1340)
            line-height: 67px
            font-size: 56px
        letter-spacing: 0.03em
        text-transform: uppercase         
        color:#FF8B00
        align-self: stretch
        text-align: center 

    &__middle_text 
        font-family: 'Balsamiq Sans'
        font-weight: 700
        font-size: 16px
        line-height: 19px
        letter-spacing: 0.03em
        text-transform: uppercase
        color: #0035F7
        margin-top: 15px
        margin-bottom: 15px

        +media(480)
            font-size: 14px
            line-height: 19px
        +media(678)
            line-height: 24px
            font-size: 18px
            margin-top: 0px
            margin-bottom: 0px
        +media(1280)
            font-size: 24px
            line-height: 29px

    &-nav    
        display: flex        
        justify-content: center
        align-items: center
        column-gap: 5px
        margin: 10px 0
        +media(640)
            column-gap: 10px
            margin: 25px
            
    &-dot
        width: 15px
        height: 15px
        border-radius: 50%
        box-sizing: border-box
        border: 1px solid #0033FF
        
        &--active
            background: #FF8B00
            border-color: transparent

    &__circle_btn
        position: relative
        margin: 0 20px
        width: 40px
        height: 40px
        background: #FF8B00
        border: none
        border-radius: 50%
    &_smal-btn
        vertical-align: middle  
        height: 40px

.arr
    &-left
        &::before
            content: ''
            position: absolute
            width: 17px
            height: 1px
            left: 11px
            top: 19px
            border: 1px solid #0033FF
            background-color:#0033FF
        &::after
            content: ''
            position: absolute
            width: 5px
            height: 5px
            left: 12px
            top: 17px

            transform: rotate(45deg)
            border: 2px solid #0033FF
            border-right:  none 
            border-top:  none 
                
    &-right
        &::before
            content: ''
            position: absolute
            width: 17px
            height: 1px
            left: 11px
            top: 19px
            border: 1px solid #0033FF
            background-color:#0033FF
        &::after
            content: ''
            position: absolute

            width: 5px
            height: 5px
            left: 22px
            top: 17px
            transform: rotate(45deg)
            border: 2px solid #0033FF
            border-left: none 
            border-bottom:  none 



.positive
    max-width: 1270px
    width: 100%
    box-sizing: border-box 
    margin: auto
    position: relative
    padding-left: 10px
    padding-right: 10px
    padding-bottom: 100vw
    +media(640)
        padding-bottom: 0
    +media(678)
        padding-right: 20%
    +media(1280)
        padding-right: 250px
    &_box
        width: 100%
        border-radius: 20px
        box-sizing: border-box 
        padding: 10px 10px 30px
        
        +media(640)
            border-radius: 50px
        +media(680)
            padding: 30px 30px 30px
        +media(928)
            border-radius: 100px
            padding: 50px 80px 30px
        +media(1080)
            padding: 110px 120px 90px
            width: 1000px
            border-radius: 150px

    &_image
        position: absolute
        right: 10px
        bottom: 0
        // display: none
        width: calc(100% - 20px)

        +media(640)
            transform: translateY(-50%)
            bottom: auto
            top: 50%
            width: 50%
            display: block
        +media(790)
            width: 400px
        +media(1000)
            width: 500px
        +media(1080)
            width: 540px
        +media(1200)            
            width: 600px
        +media(1280)            
            width: 655px
        +media(1349)            
            // top: -40px
            right: -25px

// ------------------------------------
// Block with middle image            -
// Блок з середнім розміром зображення-   
// ------------------------------------
.img-block
    &__box
        position: relative  
        width: 100%        
        padding-left: 10px
        padding-right: 10px
        padding-bottom: 65vw
        box-sizing: border-box
        justify-content: center
        margin: 0 auto 50px
        align-items: center
        +media(480)
            padding-bottom: 0
        +media(1280)
            width: 1170px        
        +media(1440)     
            padding-left: 120px
            box-sizing: content-box

        
    &__image
        width: 100%
        bottom: 0
        position: absolute
        // display: none
        +media(480)
            bottom: auto
            width: 40%
            transform: translate(-20px,-50%)
            top: 50%
        +media(640)
            bottom: auto
            width: 40%
            display: block
            // top: 20%
            top: 50%
            transform: translate(-20px,-50%)
        +media(728)
            // top: 10%
            width: 50%
            transform: translate(0px,-50%)

        +media(1280)
            // top: 50px
            width: 600px            
        +media(1440)
            width: 630px            
    &__content
        display: block
        margin: 5px 8px
        +media(640)
            max-width: 45%
            width: max-content
        +media(928)
            margin: 5px 20px
        +media(1280)
            max-width: 500px
            margin: 5px 20px
            min-width: 470px
        +media(1440)
            margin: 5px 88px
    &__text
        white-space: break-spaces
        font-weight: 500
        font-size: 18px
        line-height: 23px

    &__list  
        display: flex
        flex-direction: column
        justify-content: center
        // align-items: center
        box-sizing: border-box
        padding: 10px 10px
        border-radius: 20px
        background: #FFFFFF
        box-shadow: $global-shadow
        width: 100%
        font-size: 12px
        line-height: 18px
        color: #313131
        +media(640)
            padding: 20px 20px
            align-items: flex-end
            border-radius: 50px
        +media(684)
            padding: 30px 30px

        +media(928)
            font-size: 18px
            line-height: 23px
            padding: 40px 40px
            border-radius: 150px    

        &_header
            font-size: 12px
            margin: 15px 0
            text-align: center
            
            +media(678)
                font-size: 14px
                margin-bottom: 15px
            +media(840)
                font-size: 18px
                text-align: left
            +media(928)
                font-size: 18px
                margin: 45px 0
            +media(1280)
                font-size: 24px           
        &_item
            margin-bottom: 16px
            +media(480)
                margin-bottom: 5px
            +media(1280)
                margin-bottom: 16px

    &__btn
        margin: 20px auto 
        +media(480)
            margin: 30px 0 5px
            width: 255px
        +media(928)
            margin: 50px 0 35px
        +media(1280)
            padding: 12px

.marker-list
    padding-left: 25px
    position: relative
    +media(840)
        padding-left: 40px
        margin-bottom: 23px
    &::before
        content: ''
        position: absolute
        width: 20px
        height: 20px
        top: 2px
        +media(840)
            width: 30px
            height: 30px
            top: 50%
            transform: translateY(-50%)
        left: 0
        background-size: contain
        background-image: url("../img/icons/marker.svg") 

.left-container
    +media(1280)
        padding-left: 10px
        padding-right: 180px
    +media(1440)
        padding-left: 10px
.left-list
    padding: 10px 10px

    +media(640)
        align-items: flex-start
    +media(1280)
        padding: 28px 50px
.left-img    
    right: 0
    left: auto
    +media(640)
        left: 15px
        right: auto

.right-img 
    right: 0px



/*-----------------------------------*/
/*------------Прямокутний------------*/
/*----------------блок---------------*/
/*---------------quadro--------------*/
/*-----------------------------------*/

.quadro
    display: flex
    flex-direction: column
    padding: 20px 30px
    border-radius: 20px
    box-sizing: border-box  
    justify-content: center
    align-items: center
    background-color: #fff
    width: 95%
    margin: 0 auto  
    max-width: 1540px


    +media(640)
        flex-direction: row-reverse
    +media(1440)
        justify-content: space-between
        border-radius: 80px
        padding: 60px 130px
    &-header
        +media(678)
            margin-top: 15px
            margin-bottom: 35px
    &-image
        display: block
        aspect-ratio: 63/35
        width: 100%
        border-radius: 20px
        object-fit: cover
        object-position: center
        +media(640)
            width: 50%
    &_box
        padding: 10px
        box-sizing: border-box    
        width: 100%
        +media(640)
            width: 50%
    &-list
        &-box
            display: flex
            flex-direction: column
            +media(640)
                flex-direction: row
        &-item
            font-weight: 500
            box-sizing: border-box
            font-size: 14px
            +media(640)
                font-size: 12px

            +media(840)
                font-size: 18px
                
            line-height: 23px
            padding-right: 10px
            +media(1280)
                padding-right: 50px
                
/*-------------------------------------------*/
/*--------Rounded Cards with symbol----------*/
/*-------------------------------------------*/
.card-with-fig
    position: relative
    font-weight: 500
    font-size: 16px
    line-height: 22px
    border-radius: 40px
    // margin: 10px
    box-sizing: border-box
    padding: 25px 10px 100px  

    +media(640)
        padding: 20px 10px 100px  
        width: calc( 50% - 10px ) 
        border-radius: 20px
    +media(840)
        width:30% 
        width: calc( 33% - 10px )

    +media(1580)
        border-radius: 50px
        max-width: 500px
        padding: 40px 30px 100px 

    &_container
        padding: 0 10px
        box-sizing: border-box
        justify-content: center
        align-items: stretch
        column-gap: 15px
        row-gap: 20px


        +media(640)
            justify-content: flex-start
            flex-direction: row
        +media(840)
            justify-content: center
        +media(1280)
            column-gap: 20px
            row-gap: 20px

    &_sticker
        background-color: #000
        color:#fff
        padding: 7px 15px
        width: max-content
        font-family: 'Balsamiq Sans'
        font-weight: 700
        font-size: 14px
        +media(640)
            font-size: 11px
            padding: 7px 7px
        +media(1280)
            font-size: 16px
            padding: 12px 30px


    &_header
        color: $global-orange
        +media(640)
            margin: 12px 0
        +media(678)
            margin: 15px 0
        +media(928)
            margin: 23px 0 20px
    &_text
        margin-bottom: 10px
        +media(640)
            font-size: 12px
            line-height: 16px
        +media(1280)
            font-size: 16px
            line-height: 22px

    &_list

        &-item
            display: block
            position: relative
            padding: 1px
            padding-left: 17px
            padding-bottom: 0
            font-size: 16px
            line-height: 21px
            +media(640)
                font-size: 12px
                line-height: 16px
            +media(1280)
                line-height: 21px
                font-size: 16px
            &::before
                content: ''
                position: absolute
                display: block
                width: 4px
                height: 4px
                border-radius: 50%
                top: 9px
                left: 3px
                background-color: #000
    &__btn
        position: absolute
        bottom: 35px
        background-color: #fff
        transform: translateX(-50%)
        left: 50%
        width: 80%

        +media(1580)
            width: 440px

/*----------------------------------------------*/
/*-----------------Tiny CARDS-------------------*/
/*----------------------------------------------*/
.tiny
    &-container
        display: flex
        flex-wrap: wrap
        column-gap: 20px
        row-gap: 35px
        justify-content: center
        align-items: stretch
        margin: 0 auto
        max-width: 1560px
        padding: 0 10px
        box-sizing: border-box
    &-card
        position: relative
        display: flex
        flex-direction: column
        justify-content: space-between
        padding: 60px 10px 30px
        background-color: #fff
        box-sizing: border-box
        border-radius: 40px
        width: 100%
        +media(640)
            width: calc( 50% - 40px )
            border-radius: 30px
            padding: 60px 20px 30px
        +media(928)
            width: calc( 33% - 20px )
            padding: 70px 10px 50px
            
        +media(1440)
            width: calc( 25% - 16px )
            border-radius: 50px
            padding: 70px 20px 55px
        &__header
            display: flex
            align-items: center
            justify-content: center
            position: absolute
            text-align: center
            transform: translateX(-50%)
            top: 25px
            height: 60px
            left: 50%
            width: 83%
        &__image
            margin: 25px 30px 0px 
            display: block
            aspect-ratio: 23/25.5
            object-fit: cover
            object-position: top center
            border-radius: 20px

/*------------------------------------*/
/*-------------CONTACT----------------*/
/*------------------------------------*/
.marker
    padding-left: 30px
    display: block
    position: relative
    &::before
        content: ''
        position: absolute
        top: 0px
        +media(640)
            top: 4px

        left: 2px
        width: 15px
        height: 18px
        background-size: contain
        background-repeat: no-repeat
        background-image: url("../img/icons/location.svg")

a.icon-link
    position: relative
    padding: 5px
    padding-left: 35px
    display: block
    font-weight: 500
    font-size: 18px
    line-height: 25px
    color: #313131
    width: max-content
    box-sizing: border-box
    &::before
        content: ''
        position: absolute
        top: 10px
        left: 6px
        width: 18px
        height: 18px
        background-size: contain
        background-repeat: no-repeat
    &--phone::before
        background-image: url("../img/icons/phone.svg")
    &--email::before
        top: 12px
        background-image: url("../img/icons/email.svg")
    &--instagram:before
        background-image: url("../img/icons/instagram.svg")
    &--facebook::before
        top: 12px
        background-image: url("../img/icons/facebook.svg")
