/***----------------------------------------***/
/***----------------------------------------***/
/***----------ALL REPEATED STYLES-----------***/
/***-------ВСІ СТИЛІ ЩО ПОВТОРЮЮТЬСЯ--------***/
/***----------------------------------------***/
/***----------------------------------------***/

.global
    &__btn        
        display: block
        width: 205px
        padding: 13.5px
        height: 50px
        box-sizing: border-box
        font-family: 'Balsamiq Sans'
        vertical-align: middle
        font-weight: 700
        font-size: 14px
        text-align: center
        letter-spacing: 0.03em
        text-transform: uppercase
        color: #0033FF  
        background: #FDF5E2
        border: 3px solid #FF0099
        border-radius: 100px
        transition: all 0.5s ease

        &:hover
            background-color: #FF0099
            border-color: $global-orange
            color: #FDF5E2
            

    &__link        
        position: relative
        font-family: 'Balsamiq Sans'
        font-style: normal
        font-weight: 700
        font-size: 16px
        width: max-content
        transition: all 0.5s ease
        color: #FF8B00
        &::before
            content: ""
            position: absolute
            width: 10px
            right: -20px
            top: 11px
            border: 1px solid #03CEA4
        &::after            
            content: ""
            position: absolute
            transform: rotate(45deg)
            width: 4px
            height: 4px
            right: -20px
            top: 9px
            border: 2px solid #03CEA4
            border-left: none
            border-bottom: none
        &:hover
            color: #0033FF
            
        
    &__huge_text
        font-family: 'Balsamiq Sans'
        font-style: normal
        font-weight: 700
        padding: 10px
        box-sizing: border-box
        font-size: 24px
        line-height: 32px
        +media(480)
            font-size: 36px
            line-height: 67px
        +media(678)
            font-size: 48px
        +media(1340)
            font-size: 56px
        letter-spacing: 0.03em
        text-transform: uppercase         
        color:#FF8B00
        align-self: stretch
        text-align: center 

    &__middle_text 
        font-family: 'Balsamiq Sans'
        font-weight: 700
        font-size: 16px
        line-height: 29px
        letter-spacing: 0.03em
        text-transform: uppercase
        color: #0035F7

        +media(480)
            font-size: 18px
            line-height: 29px
        +media(678)
            font-size: 24px

    &-nav    
        display: flex        
        justify-content: center
        align-items: center
        column-gap: 5px
        margin: 10px 0
        +media(640)
            column-gap: 10px
            margin: 25px
            
    &-dot
        width: 15px
        height: 15px
        border-radius: 50%
        box-sizing: border-box
        border: 1px solid #0033FF
        
        &--active
            background: #FF8B00
            border-color: transparent

    &__circle_btn
        position: relative
        margin: 0 20px
        width: 40px
        height: 40px
        background: #FF8B00
        border: none
        border-radius: 50%
    &_smal-btn
        vertical-align: middle  
        height: 40px

.arr
    &-left
        &::before
            content: ''
            position: absolute
            width: 17px
            height: 1px
            left: 11px
            top: 19px
            border: 1px solid #0033FF
            background-color:#0033FF
        &::after
            content: ''
            position: absolute
            width: 5px
            height: 5px
            left: 12px
            top: 17px

            transform: rotate(45deg)
            border: 2px solid #0033FF
            border-right:  none 
            border-top:  none 
                
    &-right
        &::before
            content: ''
            position: absolute
            width: 17px
            height: 1px
            left: 11px
            top: 19px
            border: 1px solid #0033FF
            background-color:#0033FF
        &::after
            content: ''
            position: absolute

            width: 5px
            height: 5px
            left: 22px
            top: 17px
            transform: rotate(45deg)
            border: 2px solid #0033FF
            border-left: none 
            border-bottom:  none 



.positive
    max-width: 1270px
    width: 100%
    box-sizing: border-box 
    margin: auto
    position: relative
    padding-left: 10px
    padding-right: 10px
    +media(678)
        padding-right: 20%
    +media(1280)
        padding-right: 250px
    &_box
        width: 100%
        border-radius: 20px
        box-sizing: border-box 
        padding: 10px 10px 30px
        +media(640)
            border-radius: 50px
        +media(680)
            padding: 30px 30px 30px
        +media(1280)
            padding: 110px 120px 90px
            width: 1000px
            border-radius: 150px

    &_image
        position: absolute
        top: 50%
        transform: translateY(-50%)
        right: 0
        width: 50%
        display: none
        +media(640)
            display: block
        +media(790)
            width: 400px
        +media(1000)
            width: 500px
        +media(1280)            
            width: 655px
        +media(1349)            
            // top: -40px
            right: -25px

// ------------------------------------
// Block with middle image            -
// Блок з середнім розміром зображення-   
// ------------------------------------
.img-block
    &__box
        position: relative  
        width: 100%        
        padding-left: 0px
        margin: 0 auto 50px
        align-items: center
        +media(1280)
            width: 1170px        
            padding-left: 120px
    &__image
        position: absolute
        display: none
        +media(640)
            width: 40%
            display: block
            // top: 20%
            top: 50%
            transform: translate(-20px,-50%)
        +media(728)
            // top: 10%
            width: 50%
            transform: translateX(0px,-50%)

        +media(1280)
            // top: 50px
            width: 630px            
    &__content
        display: block
        margin: 5px 8px
        width: max-content
        max-width: 500px
        +media(928)
            margin: 5px 20px
        +media(1280)
            margin: 5px 88px
            min-width: 470px
    &__text
        white-space: break-spaces
        font-weight: 500
        font-size: 18px
        line-height: 23px

    &__list  
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        box-sizing: border-box
        padding: 10px 10px
        border-radius: 50px
        background: #FFFFFF
        box-shadow: $global-shadow
        width: 100%
        font-size: 12px
        line-height: 18px
        color: #313131
        +media(640)
            align-items: flex-end

            +media(928)
                font-size: 18px
                line-height: 23px
                padding: 40px 40px
                border-radius: 150px          
        &_header
            font-size: 12px
            margin: 15px 0
            text-align: center

            +media(678)
                font-size: 14px
            +media(928)
                text-align: left
                font-size: 18px
                margin: 45px 0
            +media(1280)
                font-size: 24px           
        &_item
            margin-bottom: 16px

    &__btn
        margin: 30px 0 5px
        +media(928)
            margin: 50px 0 35px
        width: 255px
        padding: 12px

.marker-list
    padding-left: 25px
    position: relative
    +media(840)
        padding-left: 40px
        margin-bottom: 23px
    &::before
        content: ''
        position: absolute
        width: 20px
        height: 20px
        +media(840)
            width: 30px
            height: 30px
        top: 50%
        transform: translateY(-50%)
        left: 0
        background-size: contain
        background-image: url("../img/icons/marker.svg") 

.left-container
    +media(1280)
        padding-left: 10px
        padding-right: 120px
.left-list
    padding: 10px 10px

    +media(640)
        align-items: flex-start
    +media(1280)
        padding: 28px 50px
.left-img    
    left: 15px 

.right-img 
    right: 0px

/*-----------------------------------*/
/*------------Прямокутний------------*/
/*----------------блок---------------*/
/*---------------quadro--------------*/
/*-----------------------------------*/

.quadro
    display: flex
    flex-direction: column
    padding: 20px
    border-radius: 20px
    box-sizing: border-box  
    justify-content: center
    align-items: center
    background-color: #fff
    width: 95%
    max-width: 1540px
    margin: 0 auto  


    +media(640)
        justify-content: space-between
        flex-direction: row-reverse
    +media(1440)
        border-radius: 80px
        padding: 60px 130px

    &-image
        display: block
        aspect-ratio: 63/35
        width: 100%
        object-fit: cover
        object-position: center
        +media(640)
            width: 50%
    &_box
        padding: 10px
        box-sizing: border-box    
        width: 50%
        +media(640)
            width: 100%
    &-list
        &-box
            display: flex
        &-item
            font-weight: 500
            font-size: 18px
            line-height: 23px
            padding-right: 50px
                
/*-------------------------------------------*/
/*--------Rounded Cards with symbol----------*/
/*-------------------------------------------*/
.card-with-fig
    position: relative
    font-weight: 500
    font-size: 16px
    line-height: 22px
    border-radius: 40px
    margin: 10px
    box-sizing: border-box
    padding: 40px 30px 100px 

    +media(640)
        width:30% 
        border-radius: 20px
    +media(1580)
        border-radius: 50px
        max-width: 500px

    &_container
        padding: 0 10px
        box-sizing: border-box
        justify-content: center
        align-items: stretch

    &_sticker
        background-color: #000
        color:#fff
        padding: 7px 30px
        width: max-content
        font-family: 'Balsamiq Sans'
        font-weight: 700
        font-size: 16px

    &_header
        color: $global-orange
        +media(928)
            margin: 23px 0 20px
    &_text
        margin-bottom: 10px
    &_list

        &-item
            display: block
            padding: 1px
            padding-left: 17px
            padding-bottom: 0
            font-size: 16px
            line-height: 21px
            position: relative
            &::before
                content: ''
                position: absolute
                display: block
                width: 4px
                height: 4px
                border-radius: 50%
                top: 9px
                left: 3px
                background-color: #000
    &__btn
        position: absolute
        bottom: 35px
        background-color: #fff
        transform: translateX(-50%)
        left: 50%
        width: 80%

        +media(1580)
            width: 440px
