.header
    &__menu
        padding: 30px 10px 27px
        box-sizing: border-box
        justify-content: space-between
        margin: 0 auto 
        max-width: 1580px
        column-gap: 30px
        &__logo
            display: flex
            justify-content: space-between

        img
            width: 185px
            display: block
            margin-left: 20px
            height: 60px
        &__container 
            display: none
            +media(678)
                display: block
        &__elements
            padding-left: 15px
            column-gap: 40px   
            
        &__item
            display: block
            font-weight: 600
            font-size: 14px
            letter-spacing: 0.03em
            text-transform: uppercase
            color: #313131
            transition: all 0.5s ease
            &:hover
                transform: scale(1.1)
                color: #EA18AA

            &__holder
                padding: 20px 0
        &__btn
            margin-top: 5px
            display: none
            +media(678)
                display: block
    &__hero
        border-top: 3px solid #FF8B00
        text-align: center
        padding-bottom: 45px
        box-sizing: border-box
        
        &-strip
            overflow: hidden
            display: block
            margin-top: 10px
            width: 100%

        &_header
            margin: 40px auto 5px
            color: #0033FF

        &__text
            padding-left: 15px
            box-sizing: border-box
            font-size: 18px
            line-height: 23px
            color: #313131

        &__btn      
            margin: 35px auto      
            width: 220px
            font-size: 12px
            padding: 10px
            +media(480)
                font-size: 14px
                width: 270px
            +media(678)
                width: 300px
                font-size: 18px
                padding: 16px
            color: #FFFFFF
            background: #EA18AA
            border: 3px solid #FF8B00
            &:hover
                background-color: #FF8B00
                color: #0033FF
            
        &_img_container 
            padding-top: 30px
            padding-bottom: 30px
            justify-content: center
            align-items: center
            column-gap: 40px
            +media(480)
                flex-direction: row
            img
                display: block
                width: 80%
                +media(480)
                    width: 40%
                +media(728)
                    width: 20%
                +media(1680)
                    width: auto
                    height: 480px
   


