.header
    &__menu
        //padding: 30px 10px 27px
        padding: 0px 10px 
        box-sizing: border-box
        justify-content: space-between
        margin: 0 auto 
        max-width: 1580px
        column-gap: 10px
        +media(1200)
            column-gap: 10px
        +media(1440)
            column-gap: 30px
        &__logo
            display: flex
            justify-content: space-between
            padding: 30px 0 27px 
            +media(678)
                display: none            
            +media(928)
                display: block            

        img
            width: 185px
            display: block
            margin-left: 20px
            height: 60px
            +media(928)
                height: 40px
                width: 120px
            +media(1200)
                height: 60px
                width: 185px

        &__container 
            display: none
            +media(678)
                display: block
        &__elements
            padding-left: 7px
            column-gap: 5px   
            +media(1200)
                padding-left: 10px
                column-gap: 10px   
            +media(1440)
                padding-left: 15px
                column-gap: 30px   
            
        &__item
            display: block
            text-transform: uppercase
            color: #313131
            transition: all 0.5s ease
            letter-spacing: 0.03em
            font-weight: 600
            font-size: 14px
            +media(678)
                font-weight: 600
                font-size: 12px
                letter-spacing: -0.7px
            +media(1200)
                letter-spacing: 0.03em
                font-weight: 600
                font-size: 16px

            &:hover
                color: $global-blue
                +media(678)
                    transform: scale(1.1)

            &__holder
                position: relative
                transition: all 0.5s ease
                padding: 10px 5px 10px
                display: flex
                flex-direction: column-reverse
                +media(678)
                    padding: 50px 5px 45px

                &:hover > ul.header__menu__subitem__elements
                    display: block
                &:hover > .header__menu__item
                    color: $global-blue
                
        &__subitem
            &__elements // ul
                display: none
                background-color: #fff
                box-sizing: border-box
                padding: 20px 00px 20px 20px
                z-index: 2
                +media(678)
                    position: absolute
                    padding: 0 40px 20px                
                    left: 50%
                    top: 0
                    transform: translate(-50% , 112px)
                    border: $border-top-orange-line
                    border-top: none
                    border-radius: 0 0 40px 40px  
                +media(1200)
                    transform: translate(-50% , 116.7px)


                &:hover 
                    display: block
                &:hover + .header__menu__item
                    color: $global-blue

            &__holder // li
                padding-bottom: 20px
            &__link //a
                display: block                
                font-family: 'Open Sans'
                font-style: normal
                font-weight: 600
                font-size: 14px
                line-height: 19px
                letter-spacing: 0.03em
                color: $global-black
                text-transform: uppercase
                white-space: none
                +media(678)
                    font-weight: 600
                    font-size: 12px
                    letter-spacing: -0.7px
                    width: 140px
                +media(1200)
                    width: 190px
                    letter-spacing: 0.03em
                    font-weight: 600
                    font-size: 14px
                &:hover
                    color: $global-blue


        &__btn
            margin: 5px 15px 
            display: none
            margin-bottom: 15px
            +media(678)
                margin: 0
                margin-top: 35px
                display: block
                width: 134px
                font-size: 11px
                padding-top: 10px

            +media(726)
                padding-top: 15px
                width: 180px
                font-size: 14px

            +media(1280)
                width: 200px
    &__hero
        border-top: 3px solid #FF8B00
        text-align: center
        padding-bottom: 40px
        margin-bottom: 140px
        box-sizing: border-box
        
        &-strip
            overflow: hidden
            display: block
            margin-top: 10px
            width: 100%

        &_header
            margin: 30px auto 8px
            color: #0033FF

        &__text
            padding-left: 15px
            box-sizing: border-box
            font-size: 18px
            line-height: 23px
            color: #313131

        &__btn      
            margin: 35px auto      
            width: 220px
            font-size: 12px
            padding: 10px
            height: 40px
            +media(480)
                font-size: 14px
                width: 270px
            +media(678)
                height: 65px
                width: 300px
                font-size: 18px
                padding: 20px
            color: #FFFFFF
            background-color: $global-pink
            border: $border-top-orange-line
            &:hover
                background-color: $global-green
                border-color: $global-pink
            
        &_img_container 
            padding-top: 25px
            padding-bottom: 25px
            justify-content: center
            align-items: center
            column-gap: 25px
            +media(480)
                flex-direction: row
            img
                margin: 5px
                display: block
                width: 80%
                +media(480)
                    width: 40%
                +media(728)
                    width: 20%
                +media(1680)
                    width: auto
                    height: 480px
   


.burger
    width: 40px
    height: 40px
    margin: 10px
    border: 1px solid #FF0099
    position: relative
    +media(678)
        display: none

    span, span::before,span::after
        position: absolute
        transform: translate(-50% , -50%)
        top: 50%
        left: 50%
        width: 30px
        height: 4px
        border-radius: 2px
        background-color: #FF0099
        transition: all 1s ease, width 0.1s ease
    span::before,span::after
        content: ''
    span::before   
        top: 13px
    span::after
        top: -10px  

.burger-close               

    span
        width: 0
    span::before,span::after
        top: 50%
        left: -15px
    span::before   
        transform: rotate(135deg)
    span::after
        transform: rotate(225deg)
        
.show
    display: block