@import main/about
@import main/age
@import main/kindergarten
@import main/lessons
@import main/levy
@import main/mentoring
@import main/pedagogue
@import main/photo
@import main/report


            
.green
    background-color: #03CEA4
    border-color: #03CEA4
    &:hover
        background-color: #03CE84   
.pink
    background-color: #FF0099
    &:hover
        background-color: #FF0079  
.blue
    background-color: #0033FF
    border-color: #0033FF
    &:hover
        background-color: #0033CF   
.yellow
    background-color: #FFE600
    border-color: #FFE600
    &:hover
        border-color: #FFB600 
        background-color: #FFB600  