@import main/about
@import main/age
@import main/kindergarten
@import main/lessons
@import main/levy
@import main/mentoring
@import main/photo
@import main/report

.global
    &-nav    
        display: flex        
        justify-content: center
        align-items: center
        column-gap: 5px
        margin: 10px 0
        +media(640)
            column-gap: 10px
            margin: 25px
            
    &-dot
        width: 15px
        height: 15px
        border-radius: 50%
        box-sizing: border-box
        border: 1px solid #0033FF
        
        &--active
            background: #FF8B00
            border-color: transparent

    &__circle_btn
        position: relative
        margin: 0 20px
        width: 40px
        height: 40px
        background: #FF8B00
        border: none
        border-radius: 50%

.arr
    &-left
        &::before
            content: ''
            position: absolute
            width: 17px
            height: 1px
            left: 11px
            top: 19px
            border: 1px solid #0033FF
            background-color:#0033FF
        &::after
            content: ''
            position: absolute
            width: 5px
            height: 5px
            left: 12px
            top: 17px

            transform: rotate(45deg)
            border: 2px solid #0033FF
            border-right:  none 
            border-top:  none 
                
    &-right
        &::before
            content: ''
            position: absolute
            width: 17px
            height: 1px
            left: 11px
            top: 19px
            border: 1px solid #0033FF
            background-color:#0033FF
        &::after
            content: ''
            position: absolute

            width: 5px
            height: 5px
            left: 22px
            top: 17px
            transform: rotate(45deg)
            border: 2px solid #0033FF
            border-left: none 
            border-bottom:  none 
            
.green
    background-color: #03CEA4
    border-color: #03CEA4
    &:hover
        background-color: #03CE84   
.pink
    background-color: #FF0099
    &:hover
        background-color: #FF0079  
.blue
    background-color: #0033FF
    border-color: #0033FF
    &:hover
        background-color: #0033CF   
.yellow
    background-color: #FFE600
    border-color: #FFE600
    &:hover
        border-color: #FFB600 
        background-color: #FFB600  