.main
    &__about
        margin-top: 140px
        padding: 30px 10px
        box-sizing: border-box

        &_header
            padding: 30px 10px
            box-sizing: border-box
        &_box
            position: relative  
            width: 100%        
            padding-left: 0px
            margin: 0 auto 50px
            align-items: center
            +media(1280)
                width: 1170px        
                padding-left: 120px

            img
                top: 50px
                display: none               
                +media(1280)
                    display: block

                position: absolute
                width: 630px
        
        &_text
            display: flex
            flex-direction: column
            justify-content: center
            align-items: flex-end
            box-sizing: border-box
            padding: 10px 10px
            border-radius: 50px
            background: #FFFFFF
            box-shadow: 0px 5px 7px rgba(42, 42, 42, 0.1)
            width: 100%
            font-size: 12px
            line-height: 18px
            color: #313131

            +media(1280)
                font-size: 18px
                line-height: 23px
                padding: 40px 40px
                border-radius: 150px

        &_list
            display: block
            margin: 5px 8px
            width: max-content
            
            +media(1280)
                margin: 5px 88px
                min-width: 470px

            &_header
                font-size: 12px
                margin: 15px 0
                text-align: center
                +media(1280)
                    text-align: left
                    margin: 45px 0
                    font-size: 14px
            &_item
                padding-left: 40px
                margin-bottom: 23px
                position: relative
                &::before
                    content: ''
                    position: absolute
                    width: 30px
                    height: 30px
                    top: 0
                    left: 0
                    background-image: url("../img/icons/marker.svg") 
        &__btn
            margin: 30px 0 5px
            +media(1280)
                margin: 50px 0 35px
            width: 255px
            padding: 12px
            
    /*---------------------------------------------*/
    /*-------------------age-----------------------*/
    /*---------------------------------------------*/
    &__age 
        margin-top: 90px
        padding: 43px 10px
        box-sizing: border-box
        &_header
            padding-top: 20px
            padding-bottom: 20px
        &_container
            justify-content: center
            align-items: center
            column-gap: 60px
        &_item
            text-align: center
            padding: 7px
            h4
                padding: 20px 10px
                width: 200px
                text-align: center 

    /*---------------------------------------------*/
    /*--------------kindergarten-------------------*/
    /*---------------------------------------------*/

    &__kindergarten
        padding-top: 33px
        
        
        &_header 
            padding: 20px 10px
            box-sizing: border-box
            +media(1280)
                padding: 50px 10px
        &_container
            width: max-content
            box-sizing: border-box 
            margin: auto
            position: relative
            padding-right: 10px
            +media(1280)
                padding-right: 250px
        &_list
            width: 100%
            border-radius: 20px
            box-sizing: border-box 
            padding: 10px 10px 30px

            +media(640)
                border-radius: 50px
            +media(1280)
                padding: 110px 120px 90px
                width: 1000px
                border-radius: 150px

        &_link
            // font-family: 'Balsamiq Sans'
            // font-style: normal
            // font-weight: 700
            // font-size: 16px
            // color: #FF8B00

        &_line
            display: flex
            column-gap: 10px
            margin-bottom: 20px
            
            +media(1280)
                column-gap: 40px
            &_header
                display: block
                padding-top: 10px
                 
        &_text            
            font-size: 12px
            color: #313131
            +media(480)
                font-size: 14px
                line-height: 19px
            +media(678)
                font-size: 18px
                line-height: 23px
        &_link
            display: block
            margin: 9px 0

        &_icon
            display: block
            width: 30px
            object-position: center
            object-fit: contain
            padding: 5px
            padding-left: 0

            +media(480)
               width: 40px 

            +media(678)
               object-position: top
               width: 53px 

            
        &_image
            position: absolute
            top: -40px
            right: -25px
            display: none
            width: 655px
            +media(1280)
                display: block
    /*---------------------------------------------*/
    /*-----------------LESSONS---------------------*/
    /*---------------------------------------------*/

    &__lessons
        margin-top: 120px
        &_header
            padding: 20px 10px
        &_container
            margin: auto
            width: max-content
            justify-content: center
            max-width: 1380px
            flex-wrap: wrap
            column-gap: 30px
        &_card
            margin-bottom: 45px
            border-radius: 20px
            
            text-align: center
            box-sizing: border-box
            padding: 15px 15px
            width: 100vw

            +media(640)
                width: 40%
                border-radius: 40px
                padding: 25px 25px
            +media(1280)
                width: 630px 
                border-radius: 80px
                padding: 33px 50px

            img
                display: block
                overflow: hidden
                width: 100%
                object-fit: cover
                object-position: center center
                border-radius: 20px
                margin-top: 5px
                aspect-ratio: 53/30

                +media(640)
                    margin-top: 10px
                    width: 40%
                +media(1280)
                    margin-top: 20px
                    width: 530px
                    height: 300px
    /*---------------------------------------------*/
    /*-------------------PRICE---------------------*/
    /*---------------------------------------------*/
    &__price
        margin-top: 60px
        padding: 58px 10px
        box-sizing: border-box
        &_header
            margin-bottom: 30px
        &_container
            margin: auto
            max-width: max-content
            column-gap: 20px
            row-gap: 20px
            justify-content: center
            align-items: center

        &_card
            font-size: 16px
            line-height: 22px
            background-color: #fff 
            border-radius: 20px
            padding: 20px 15px

            +media(640)
                padding: 35px 30px
                width: 40%
            +media(1280)
                border-radius: 50px
                width: 312px
            

            &_header
                color: #FF8B00
                margin: 25px 0 5px
            &_btn
                width: 100%
                margin-top: 15px
        &_time
            width: 150px
            padding: 8px
            font-size: 16px
            color: #FFFFFF
            &--green
              background-color: #03CEA4
              border-color: #03CEA4
              &:hover
                background-color: #03CE84   
            &--pink
              background-color: #FF0099
              &:hover
                background-color: #FF0079  
            &--blue
              background-color: #0033FF
              border-color: #0033FF
              &:hover
                background-color: #0033CF   
            &--yellow
              background-color: #FFE600
              border-color: #FFE600
              &:hover
                border-color: #FFB600 
                background-color: #FFB600  

        &_text
            color: #313131
            margin: 0
            padding: 0

        strong
            display: block
            margin-top: 10px
            margin-bottom: 5px
        li
            display: block
            padding: 1px
            padding-left: 25px
            padding-bottom: 0
            font-size: 16px
            position: relative
            &::before
                content: ''
                position: absolute
                display: block
                width: 4px
                height: 4px
                border-radius: 50%
                top: 10px
                left: 8px
                background-color: #000


        &_in-month 
            display: block
            font-size: 18px !important
            padding-top: 15px 


    /*---------------------------------------------*/
    /*---------------facultative-------------------*/
    /*---------------------------------------------*/

    &__facultative
        margin-top: 110px
        padding: 15px 10px 80px
        box-sizing: border-box

        &_header
            margin: 40px auto 35px
            max-width: 1280px
            +media(1280)
                line-height: 59px
            
        &_container
            justify-content: center
            align-items: center
            column-gap: 10px
            +media(640)
                column-gap: 20px
            row-gap: 50px
        &_card
            padding: 15px 25px
            border-radius: 20px
            width: 100%
            +media(640)
                padding: 30px 50px
                border-radius: 50px
                width: 500px
            text-align: center
            background-color: #fff
            box-sizing: border-box

            img
                margin-top: 25px
                border-radius: 20px
                display: block
                width: 100%
                aspect-ratio: 40 / 23
                object-fit: cover
                object-position: center

                +media(640)
                    width: 400px
                    height: 230px

    /*---------------------------------------------*/
    /*-------------------Gallery-------------------*/
    /*---------------------------------------------*/

    &__gallery
        margin-top: 80px
        margin-bottom: 50px

        &_btn
            width: max-content 
            padding: 8px 6px 6px
            font-size: 12px
            +media(640)
                padding: 10px 30px 8px
                font-size: 16px

            font-weight: 700
            background-color: #fff
            appearance: none
            &:hover
                background-color: #fff
                color: #fff

            &:nth-child(3n+1)
                color: #0033FF
                border-color: #0033FF
                    
            &:nth-child(3n-1)
                color: #FF0099
                border-color: #FF0099

            &:nth-child(3n)
                color: #03CEA4
                border-color: #03CEA4

                
            &_container
                display: flex
                flex-wrap: wrap
                justify-content: center
                column-gap: 5px
                row-gap: 5px
                margin: 20px 0 28px 
                +media(640)
                    row-gap: 10px
                    column-gap: 10px
                +media(1280)
                    column-gap: 50px
                
        &_img
            
            width: 100%
            aspect-ratio: 5/4

            border-radius: 20px
            object-fit: cover
            object-position: center
            
            +media(1280)
                width: 500px
                height: 400px
                border-radius: 50px
                

            &_container
                display: flex
                justify-content: center
                row-gap: 20px
                column-gap: 30px
                overflow: hidden



    
    /*---------------------------------------------*/
    /*------------------Feedback-------------------*/
    /*---------------------------------------------*/
    &__feedback
        margin-top: 100px
        padding: 30px 10px
        &_header
            padding: 30px
        &_container            
            justify-content: center
            column-gap: 15px
            row-gap: 15px
        &_card 
            padding: 25px 20px 15px
            width: 100%
            font-size: 12px
            background-color: #fff
            border-radius: 20px
            box-sizing: border-box
            +media(640)
                font-size: 14px
                width: 500px
                padding: 45px 50px 30px
                border-radius: 50px
            &_name
                width: max-content
                padding: 8px 18px
                font-family: 'Balsamiq Sans'
                font-weight: 700
                font-size: 16px
                color: #FFFFFF
                margin-bottom: 15px
        &_nav_container
            margin-top: 15px
            margin-bottom: 15px
        &_btn 
            margin: 40px auto
            width: 250px


