-
    let itemsKindergarten = [
        {
            image:"img/pages/kindergarten/laboratory.png",
            alt:"",
            header:"дитячий садок “Лабораторія маленьких геніїв”",
            items:[
                "Наш дитячий садочок- це не лише оптимальний підхід до дошкільної освіти із використанням сучасних перевірених методик, а й можливість для кожної дитини розвиватися у власному темпі завдяки спеціально створеним умовам. "
                ]
        },
        {
            image:"img/pages/kindergarten/target.png",
            alt:"",
            header:"Наша мета - розкрити творчі можливості кожної дитини.",
            items:[
                "Заняття у нашому приватному садку спрямовані на розвиток здібностей і талантів кожної окремої маленької особистості, розвиток комунікативних навичок, спільну роботу дітей над проектами, пошук творчих рішень, занурення у процес вивчення нового матеріалу."
                ]
        },
        {
            image:"img/pages/kindergarten/square.png",
            alt:"",
            header:"Лабораторія маленьких геніїв - це простір, оснащений найсучаснішими методиками навчання",
            items:[
                "І діти, і батьки оцінять нашу передову освітню програму и «розумний» розвиваючий простір. Кожна мама для своєї дитини хоче знайти найкращий садочок, адже так важливо, щоб дитина щодня була у комфортному середовищі."
                ]
        }
    ];


.main__kindergarten-page.milk-background 
    h1.global__huge_text.main__kindergarten-page_header дитячий садок
    +printListsWithImage(itemsKindergarten, "kindergarten-page", true, null, kindergartenUrlCont)

.main__kindergarten-page-graphic
    h2.global__huge_text.main__kindergarten-page_subheader Графік роботи та умови перебування у дитсадку
    .positive.main__kindergarten-page-graphic_container.flex
        .main__kindergarten-page-graphic_box.positive_box.milk-background  
            h3.main__kindergarten-page-graphic_header.global__middle_text працюємо з понеділка по п'ятницю, крім державних вихідних днів.
            p.main__kindergarten-page-graphic_text На вибір батьків пропонуємо 3 варіанти відвідвідування садочку:
            .main__kindergarten-page-graphic__time-container.flex
                .main__kindergarten-page-graphic__time.global__btn.global_smal-btn.green 8:00-13:00
                .main__kindergarten-page-graphic__time.global__btn.global_smal-btn.orange 8:00-19:00
                .main__kindergarten-page-graphic__time.global__btn.global_smal-btn.pink 8:00-17:00
            
        img.main__kindergarten-page-graphic_image.positive_image.left-img(src="img/pages/kindergarten/graphic.png", alt="kindergarten_Ukraine")

.main__kindergarten-page-age.milk-background 
    h2.global__huge_text.main__kindergarten-page-age_header працює 4 вікові групи:
    +printAge(false)