-
    let itemsKindergarten = [
        {
            image:"img/pages/kindergarten/laboratory.png",
            alt:"",
            header:"дитячий садок “Лабораторія маленьких геніїв”",
            items:[
                "Наш дитячий садочок- це не лише оптимальний підхід до дошкільної освіти із використанням сучасних перевірених методик, а й можливість для кожної дитини розвиватися у власному темпі завдяки спеціально створеним умовам. "
                ]
        },
        {
            image:"img/pages/kindergarten/target.png",
            alt:"",
            header:"Наша мета - розкрити творчі можливості кожної дитини.",
            items:[
                "Заняття у нашому приватному садку спрямовані на розвиток здібностей і талантів кожної окремої маленької особистості, розвиток комунікативних навичок, спільну роботу дітей над проектами, пошук творчих рішень, занурення у процес вивчення нового матеріалу."
                ]
        },
        {
            image:"img/pages/kindergarten/square.png",
            alt:"",
            header:"Лабораторія маленьких геніїв - це простір, оснащений найсучаснішими методиками навчання",
            items:[
                "І діти, і батьки оцінять нашу передову освітню програму и «розумний» розвиваючий простір. Кожна мама для своєї дитини хоче знайти найкращий садочок, адже так важливо, щоб дитина щодня була у комфортному середовищі."
                ]
        }
    ];

+printListsWithImage(itemsKindergarten, "about", true)
