- let lessonList = [
    [
        "Читання",
        "Математика",
        "Навколишній світ",
        "Розвиток мовлення"
    ],[
        "Образотворче мистецтво",
        "Аплікація",
        "Ліплення",
        "Лего-конструювання"
    ]

];

- let lessonCards = [
    {
        head:"англійська мова",
        image:"",
        alt:"",
        timatable:"5 разів на тиждень";
    },
    {
        head:"хореографія",
        image:"",
        alt:"",
        timatable:"2 рази на тиждень";
    },
    {
        head:"музичні заняття",
        image:"",
        alt:"",
        timatable:"2 рази на тиждень";
    }
]

- let groupDetail = [
    "Для діток, які залишаються на повний день, організовані ліжечка для відпочинку з 13.00 до 15.30 години.",
    "Для діток віком від 4 до 7 років, які категорично відмовляються від сну, організовано окрему групу з 13:00 до 16:00.",
    "В цей час для дітей проводиться творче заняття, також відведено час для ігор та прогулянки."
]