- let studyProgram = [
    {
        header:"освітня програма",
        title:"На особливу увагу заслуговує наша освітня програма.",
        content:[
                "ЇЇ «ключовий елемент» - сприйняття кожної дитини як унікальної особистості. Розвиваючий простір сприяє розкриттю талантів і ресурсів кожної дитини, створює умови для гармонійного фізичного, емоційного, духовного, інтелектуального и соціального зростання.";
                "Особливістю роботи садочку є фінський підхід: інтегровані заняття, практичне використання отриманих знань, застосування їх на особистому досвіді, проектна діяльність.",
                "Відзначимо, що нашу програму розроблено провідними методистами і педагогами раннього розвитку України."
                ],
        list:false
    },
    {
        header:"як проходять заняття",
        title:"В ігровій формі, легко і невимушено.",
        content:[
            "Розвиваючий простір дозволяє розкривати тему з несподіваних сторін. Наповнення розвиваючого середовища постійно змінюється у залежності від теми, яку в певний час вивчають діти.",
            "Також ми використовуємо метод проектів, адже він сприяє поглибленому вивченню, закріпленню матеріалу и систематизації знань.",
            "А ще проектна діяльність допомагає дітям розвивати навички спілкування, виробляє звичку говорити «на публіку», розвиває логічне и креативне мислення."
        ],
        list:false
    },
    {
        header:"розвиток дитини",
        title:"Ми прагнемо розвинути особистості і закріпити у дітей актуальні навички:",
        content:[
            "креативність;",
            "критичність мислення;",
            "вміння творчо вирішувати завдання і проблеми різніх ступенів складності;",
            "комунікабельність;",
            "вміння співпрацюваті;",
            "гнучкість мислення;",
            "ініціативність та лідерські якості;",
            "соціальні навички (позитивне ставлення до себе і оточуючих, уміння спілкуватися та відстоювати власну думку)"
        ],
        list:true
    }
] 