- 
    let questionsList = [
        {
            question:"Які документи потрібні для вступу?",
            answer:"Паспорт, свідоцтво про народження, довідка від педіатра."
        },
        {
            question:"Які речі потрібно підготувати дитині для садочку?",
            answer:"Комплект змінного одягу, змінне взуття, піжаму."
        },
        {
            question:"Що таке адаптаційний період?",
            answer:"У нас адаптаційний період триває 5 днів. У перші 5 днів відвідування у дитини є можливість поступово звикати до садочку (дитину можна залишати на 1-2 год або на на півдня і відповідно оплачувати). А у батьків є можливість не сплачувати одразу послуги садочку за місяць, а подивитися чи подобається їм вихователь, умови та режим дня садочку, та найголовніше - чи комфортно у садку дитині!"
        },
        {
            question:"Де гуляють діти?",
            answer:"У нашому садочку є красивий, облаштований, безпечний та затишний майданчик."
        },
        {
            question:"чи є у вас укриття?",
            answer:"Так, у нас комфортне укриттяю"
        },
        {
            question:"В період відключень світла у вас є світло та тепло?",
            answer:"Так, у нас є резервне джерело освітлення, а дахова котельня обладнана генератором для опалювального періоду."
        },
        {
            question:"Чи візьмете дитину, якщо:",
            answer:"Вона в памперсах? Так. Не вміє їсти сама? Так. Не вміє розмовляти? Так. Не вміє впевнено ходити? Ні"
        },
        {
            question:"З якої дати починається набір?",
            answer:"Ми приймаємо діток протягом усього року за наявності вільних місць у групі."
        }
    ]

.main__kindergarten-questions.milk-background 
    h2.main__kindergarten-questions_header.global__huge_text відповіді на часті запитання
    .main__kindergarten-questions_container 
        for faq in questionsList
            .main__kindergarten-questions-item 
                p.main__kindergarten-questions-item_text #{faq.question}
                .main__kindergarten-questions-item_button
                p.main__kindergarten-questions-item_answer #{faq.answer}