-
    let itemsLogoped = [
        {
            image:"img/pages/logoped/logoped-when.png",
            alt:"",
            header:"Коли дитині потрібен логопед?",
            items:[
                "Мовний розвиток дитини починається з того, що малюк копіює батьків, повторює за ними слова, які спочатку складаються в смішні і безглузді комбінації, а потім стають все більш зрозумілими та розбірливими. Незалежно від того, в якому віці дитина почала говорити, батькам дуже важливо вчасно переконатися, що її мовний розвиток йде в потрібному напрямку, а якщо це не так, то можливі проблеми краще вирішити в ранньому віці."
                ]
        },
        {
            image:"img/pages/logoped/logoped-how.png",
            alt:"",
            header:"Як допомогти дитині правильно розмовляти?",
            items:[
                "Наскільки правильно і добре буде розвиватися дитяча мова, багато в чому залежить від батьків. Ні в якому разі не рекомендується перекручувати слова в спілкуванні з малюком і сюсюкати. Спілкуватися з дитиною слід нормальною, правильною, простою і зрозумілою мовою."
                ]
        },
        {
            image:"img/pages/logoped/logoped-progress.png",
            alt:"",
            header:"На мовний розвиток дитини великий вплив також має психологічна обстановка в сім’ї. ",
            items:[
                "Сприятливо позначається спокійне, доброзичливе спілкування, відсутність криків і скандалів, дотримання режиму дня. Ці умови дозволять уникнути ризику розвитку заїкання і неврозів. "
                ]
        },
        {
            image:"img/pages/logoped/logoped-result.png",
            alt:"",
            header:"КОЛИ ЗВЕРТАТИСЯ ДО СПЕЦІАЛІСТА?",
            items:[
                "Цілком нормально, коли дитина у віці 2-5 років продовжує трохи гаркавити і вимовляти неправильно звуки. Але при цьому важливо вчасно зрозуміти, чи є недоліки в дитячій мові природним етапом розвитку або вони є проявленням проблем, що вимагають втручання фахівця-логопеда."
                ]
        }
        ]
.main__logoped-page.milk-background 
    h1.global__huge_text.main__logoped-page_header-main Логопед-дефектолог
    +printListsWithImage(itemsLogoped, "logoped-page", true)

+setPrice("350 грн./консультація")