- 
    let normsCards = [
        //- 1
        {
            header:"нечітка вимова",
            title:"Нечітка мова малюка: що варто знати батькам?",
            content:[
                "Зазвичай батьки досить швидко починають розуміти мову своїх маленьких дітей, але стороннім людям це практично не вдається. Причина в тому, що дитина часто пропускає або замінює в словах звуки, які не може вимовити, а іноді і зовсім міняє їх місцями. Це цілком нормально і природно, але іноді може служити ознакою проблем, що починаються.",
                "Неправильна мова, нечітка вимова звуків, інші мовні порушення згодом будуть заважати навчанню і розвитку. Тому батькам варто прикласти певні зусилля, щоб забезпечити своєчасний і правильний розвиток мови у свого малюка."
            ],
            list:false,
            figure:"diamond",
            color:"green"
        },
        //- 2
        {
            header:"приводи для звернення",
            title:"Як розпізнати мовні труднощі у дитини?",
            content:[
                "Малюки спочатку не можуть вимовити «р» і замінюють його на «л». Складно їм також освоїти і шиплячі «ж», «ч», «ш», «щ». Привід для звернення до логопеда – активна заміна дитиною «ш» на «с», «р» на «л» і т. д. А ось пропуск складних для вимови приголосних у словах, коли дитина вчиться говорити, – це норма мовного розвитку.",
                "Занепокоєння батьків повинна викликати ситуація, коли дитина не тільки замінює одні приголосні на інші, але ще й пропускає в словах голосні звуки, робить великі паузи між складами, говорить занадто повільно або, навпаки, швидко."
            ],
            list:false,
            figure:"snow",
            color:"pink"
        },
        //- 3
        {
            header:"коли звертатися",
            title:"звертатися до логопеда, необхідно після двох років. ",
            content:[
                "Батьки можуть самостійно провести деякі прості тести, які допоможуть їм прийняти правильне рішення.",
                "Щоб з’ясувати, наскільки добре дитина знає назви оточуючих предметів, треба вимовляти їх назви та просити дитину принести річ, не використовуючи при цьому вказуючі жести або погляди. ",
                "Дворічна дитина в нормі вже знає назви практично всіх предметів, які вона бачить і використовує в повсякденному житті."
            ],
            list:false,
            figure:"circle",
            color:"blue"
        },
        //- 4
        {
            header:"розуміння прикметників",
            title:"Розуміння прикметників можна оцінити, виклавши перед дитиною ряд предметів різних кольорів і розмірів",
            content:[
                "Спочатку дорослий показує їх дитині і називає властивості, наприклад, «Це великий квадрат, а це маленький квадрат. Це червоний круг, а це синій круг » і т. д.",
                "А потім дорослий просить показати предмети з відповідними властивостями, наприклад, «Покажи великий квадрат. Покажи синій круг»."
            ],
            list:false,
            figure:"diamond",
            color:"green"
        },
        //- 5
        {
            header:"розуміння дієслів",
            title:"Щоб з’ясувати розуміння дієслів використовуються картинки з відповідними зображеннями",
            content:[
                " – люди і тварини, що біжать, йдуть, стоять, сидять, лежать… Дорослий спочатку розповідає дитині, що зображено на картинках, а потім просить показати, наприклад, «Покажи, де стоїть хлопчик? Де біжить дівчинка? » і т.д."
            ],
            list:false,
            figure:"snow",
            color:"pink"
        },
        //- 6
        {
            header:"можливі наслідки",
            title:"Своєчасно не виправлені порушення мови можуть закріпитися і залишитися з людиною на все життя. ",
            content:[
                "Такі нескладні тести дозволять з’ясувати рівень розуміння дитиною мовлення, яке є основою для нормального мовного розвитку. Якщо батьки бачать, що є певні недоліки у вимові і розумінні дитиною слів, то до фахівця краще звернутися в ранньому віці.",
                "У дорослому віці логопедична корекція вимагає більш серйозних зусиль і не завжди приводить до бажаного результату."
            ],
            list:false,
            figure:"circle",
            color:"blue"
        }
    ]

.main__logoped-norms
    h2.main__logoped-norms_header.global__huge_text Норми мовного розвитку дітей

    +printCardsWithFigure(normsCards,"logoped-norms-card")

.main__logoped-info   
    .positive.main__logoped-info_container.flex
        .main__logoped-info_box.positive_box.milk-background  
            h3.main__logoped-info_header.global__middle_text Неправильна мова, нечітка вимова звуків, інші мовні порушення згодом будуть заважати навчанню і розвитку.
            .main__logoped-info_text Тому батькам варто прикласти певні зусилля, щоб забезпечити своєчасний і правильний розвиток мови у свого малюка, вчасно відкоригувати відхилення. <br> Від цього багато в чому буде залежати все його подальше життя.
                a(href=logopedUrl).global__btn.main__logoped-info_btn Записати дитину    
        img.main__logoped-info_image.positive_image.left-img(src="img/pages/logoped/logoped-hugeIMG.png", alt="course_Ukraine")

.main__logoped-photoalbum
    +printPhotoAlbum