.main__age.milk-background 
    h2.global__huge_text.main__age_header вікові групи
    .main__age_container.flex 
        .main__age_item 
            img(src="img/age/kids.svg", alt="").main__age_image
            h4.global__middle_text.main__age__header маленькі розумники
        .main__age_item 
            img(src="img/age/baby.svg", alt="").main__age_image
            h4.global__middle_text.main__age__header маленькі дослідники
        .main__age_item 
            img(src="img/age/juniors.svg", alt="").main__age_image
            h4.global__middle_text.main__age__header маленькі генії
        .main__age_item 
            img(src="img/age/pre_school.svg", alt="").main__age_image
            h4.global__middle_text.main__age__header pre-school
