.main__kindergarten 
    h2.global__huge_text.main__kindergarten_header дитячий садок
    .main__kindergarten_container.flex
        ul.main__kindergarten_list.milk-background  
            li.main__kindergarten_line
                img.main__kindergarten_icon(src="img/kindergarten/food.svg", alt="#")
                p.main__kindergarten_text 
                    strong.global__middle_text.main__kindergarten_line_header Ми любимо нашу їжу
                    span.main__kindergarten_text і готуємо її з любовʼю до дітей
                    a(href="#").global__link.main__kindergarten_link подивитися меню  
            li.main__kindergarten_line
                img.main__kindergarten_icon(src="img/kindergarten/age.svg", alt="#")
                p.main__kindergarten_text 
                    strong.global__middle_text.main__kindergarten_line_header 9 років
                    span.main__kindergarten_text ми працюємо з дітками 
            li.main__kindergarten_line
                img.main__kindergarten_icon(src="img/kindergarten/nanny.svg", alt="#")
                p.main__kindergarten_text 
                    strong.global__middle_text.main__kindergarten_line_header Наші працівники тут
                    span.main__kindergarten_text тому-що люблять свою роботу та дітей
        img.main__kindergarten_image(src="img/kindergarten/kindergarten_Ukraine.png", alt="kindergarten_Ukraine")
