
.main__lessons 
    h2.global__huge_text.main__lessons_header заняття у нашому садочку
    .main__lessons_container.flex 
        .main__lessons_card.milk-background 
            h3.global__middle_text математика
            img(src="img/lessons/math.png", alt="math").main__lessons_img
        .main__lessons_card.milk-background 
            h3.global__middle_text читання
            img(src="img/lessons/reading.png", alt="reading").main__lessons_img
        .main__lessons_card.milk-background 
            h3.global__middle_text пізнаємо світ
            img(src="img/lessons/discovery.png", alt="discovery").main__lessons_img
        .main__lessons_card.milk-background 
            h3.global__middle_text розвиток мовлення
            img(src="img/lessons/speaking.png", alt="speaking").main__lessons_img
        .main__lessons_card.milk-background 
            h3.global__middle_text образотворче мистецтво
            img(src="img/lessons/art.png", alt="art").main__lessons_img
        .main__lessons_card.milk-background 
            h3.global__middle_text англійська мова
            img(src="img/lessons/english.png", alt="english").main__lessons_img
        .main__lessons_card.milk-background 
            h3.global__middle_text лего конструювання
            img(src="img/lessons/lego.png", alt="lego").main__lessons_img
        .main__lessons_card.milk-background 
            h3.global__middle_text хореографія
            img(src="img/lessons/dancing.png", alt="dancing").main__lessons_img
        .main__lessons_card.milk-background 
            h3.global__middle_text музичні заняття
            img(src="img/lessons/music.png", alt="music").main__lessons_img
