
.main__levy.milk-background
    h2.global__huge_text.main__levy_header варіанти відвідування садочку 
    .main__levy_container.flex
        .main__levy_card.diamond 
            span.global__btn.main__levy_time.green 8:00-13:00
            h3.global__middle_text.main__levy_card_header адаптаційний період
            p.main__levy_text Адаптаційний період створений для батьків, які хочуть допомогти своїй дитині легше адаптуватися до нових умов. Зазвичай у цей період передбачено поступове збільшення часу перебування дитини в садку, що допомагає уникнути стресу і поступово вводить дитину в новий ритм життя
                strong Вартість:
                ul 
                    li  1 год - 100грн;
                    li  2 год - 200грн;
                    li  1 день до 13:00 - 280грн;
                    li  1 день до 13:00 з обідом - 380 грн;
            a.global__btn.main__levy_card_btn Записати дитину

        .main__levy_card.snow 
            span.global__btn.main__levy_time.pink 8:00-13:00
            h3.global__middle_text.main__levy_card_header міні-садочок
            p.main__levy_text Наш тариф «Міні-садочок» для батьків, які бажають поступово адаптувати дитину до більш тривалого перебування в садочку або з власних міркувань бажають, щоб дитина відвідувала садок неповний день.
            strong У цей тариф входить: 
            ul 
                li  3-разове харчування (сніданок, ланч та обід);
                li  3 заняття щоденно;
                li  прогулянка;
                li  ігрова діяльність.
            span.global__middle_text.main__levy_in-month ціна - 7000 грн/місяць
            a.global__btn.main__levy_card_btn Записати дитину

        .main__levy_card.circle 
            span.global__btn.main__levy_time.blue 8:00-17:00
            h3.global__middle_text.main__levy_card_header садочок
            p.main__levy_text Створений для батьків, які бажають, щоб їхня дитина мала більше можливостей для взаємодії з однолітками та участі в організованих заняттях, що сприяють її соціальному та емоційному розвитку.
            strong У цей тариф входить:
            ul 
                li  4-разове харчування (сніданок, ланч, обід, полуденок);
                li  4 заняття щоденно;
                li  прогулянка;
                li  ігрова діяльність.
            span.global__middle_text.main__levy_in-month ціна - 10500 грн/місяць
            a.global__btn.main__levy_card_btn Записати дитину
        .main__levy_card.star 
            span.global__btn.main__levy_time.yellow 8:00-19:00
            h3.global__middle_text.main__levy_card_header садочок повного дня
            p.main__levy_text Створений для батьків, які шукають структурований день для дитини: дитина отримає регулярний розпорядок дня, включаючи навчальні та ігрові заняття, що допомагає в її розвитку та соціалізації.
            strong У цей тариф входить:
            ul 
                li  5-разове харчування (сніданок, ланч, обід, полуденок, вечеря);
                li  4 заняття щоденно;
                li  прогулянка;
                li  ігрова діяльність.
            span.global__middle_text.main__levy_in-month ціна - 12500 грн/місяць
            a.global__btn.main__levy_card_btn Записати дитину