.main__photo 
    h2.global__huge_text.main__photo_header галерея
    .main__photo_btn_container
        button(checked).global__btn.global_smal-btn.main__photo_btn заняття у садочку
        button().global__btn.global_smal-btn.main__photo_btn свята та вечірки
        button().global__btn.global_smal-btn.main__photo_btn екскурсії та прогулянки
        button().global__btn.global_smal-btn.main__photo_btn майстер-класи
        button().global__btn.global_smal-btn.main__photo_btn ігри та розваги
        button().global__btn.global_smal-btn.main__photo_btn меню
        
    .main__photo_img_container
        img(src="img/photo/photo1.png", alt="lego").main__photo_img 
        img(src="img/photo/photo2.png", alt="lego").main__photo_img 
        img(src="img/photo/photo3.png", alt="lego").main__photo_img 
    .main__photo_nav_container.global-nav
        button.global__circle_btn.main__photo_nav__circle_btn--left.arr-left
        .global-dot.main__photo_nav__dot.globa.global_smal-btnl-dot--active 
        .global-dot.main__photo_nav__dot 
        .global-dot.main__photo_nav__dot 
        .global-dot.main__photo_nav__dot 
        .global-dot.main__photo_nav__dot 
        button.global__circle_btn.main__photo_nav__circle_btn--right.arr-right 
